<form method="post" action="{{ path('apartment_delete', {'id': apartment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ apartment.id) }}">
    <button class="btn btn-danger col-sm-12" onclick="() => {return confirm('Вы действительно хотите удалить запись ?');}">Удалить</button>
</form>
