{% form_theme form 'elements/form_row.html.twig' %}

{{ form_start(form) }}
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.number, {'label' : 'Номер'}) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.floor, {'label' : 'Этаж'}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.status, {'label' : 'Статус' } ) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.houseSection, {'label' : 'Секция дома'}) }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.design, {'label' : 'Планировка'}) }}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.price, {'label' : 'Цена'}) }}
        </div>
    </div>
    <button class="btn btn-outline-success">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
