{% form_theme form 'elements/form_row.html.twig' %}

{{ form_start(form) }}
    {{ form_row(form.numberOfRooms, {'label' : 'Количество комнат'}) }}
    {{ form_row(form.square, {'label' : 'Площадь'}) }}
    {{ form_row(form.price, {'label' : 'Цена'}) }}
    {{ form_row(form.balcony, {'label' : 'Балкон'}) }}
    <button class="btn">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
