{% extends 'layouts/main.html.twig' %}

{% block page_title %}Список квартир{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-outline-success" href="{{ path('apartment_new') }}">Добавить квартиру</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-stats order-table ov-h">
                        <table class="table">
                        <thead>
                            <tr>
                                <th>Номер</th>
                                <th>Этаж</th>
                                <th>Статус</th>
                                <th>Секция</th>
                                <th>Планировка</th>
                                <th>Цена</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for apartment in pagination  %}
                            <tr>
                                <td>{{ apartment.number }}</td>
                                <td>{{ apartment.floor }}</td>
                                {% if apartment.status == 1 %}
                                    <td><span class="badge badge-complete">Свободна</span></td>
                                {% elseif apartment.status == 2  %}
                                    <td><span class="badge badge-pending">Забронирована</span></td>
                                {% else %}
                                    <td><span class="badge badge-success">Забронирована</span></td>
                                {% endif %}
                                <td>{{ apartment.houseSection.id }}</td>
                                <td>{{ apartment.design.id }}</td>
                                <td>{{ apartment.price }}</td>

                                <td>
                                    <a href="{{ path('apartment_show', {'id': apartment.id}) }}" class="btn btn-sm btn-info">Подробнее</a>
                                    <a href="{{ path('apartment_edit', {'id': apartment.id}) }}" class="btn btn-sm btn-warning color-white"><i class="fa fa-pencil"></i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="11">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
