{% extends 'layouts/main.html.twig' %}

{% block page_title %}Квартира номер {{ apartment.number }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-outline-info" href="{{ path('apartment_index')  }}">Вернуться к списку квартир</a>
                    <a class="btn btn-outline-warning" href="{{ path('apartment_edit', {'id': apartment.id}) }}">Изменить</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card {% if apartment.status == 1 %}bg-flat-color-3{% elseif apartment.status == 2 %}bg-flat-color-4{% elseif apartment.status == 3 %}bg-flat-color-1{% endif %}">
                <div class="card-body color-white">{{ status_label }}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>Номер</th>
                            <td>{{ apartment.number }}</td>
                        </tr>
                        <tr>
                            <th>Этаж</th>
                            <td>{{ apartment.floor }}</td>
                        </tr>
                        <tr>
                            <th>Номер секции</th>
                            <td>{{ apartment.houseSection.id }}</td>
                        </tr>
                        <tr>
                            <th>Квадратная площадь</th>
                            <td>{{ apartment.design.square }}</td>
                        </tr>
                        <tr>
                            <th>Количество комнат</th>
                            <td>{{ apartment.design.numberOfRooms }}</td>
                        </tr>
                        <tr>
                            <th>Статус</th>
                            <td>{{ apartment.status }}</td>
                        </tr>
                        <tr>
                            <th>Цена</th>
                            <td>{{ apartment.price }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{ include('apartment/_delete_form.html.twig') }}
{% endblock %}
