<form method="post" action="{{ path('documents_delete', {'id': document.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ document.id) }}">
    <button class="btn btn-danger col-sm-12" onclick="() => {return confirm('Вы действительно хотите удалить запись ?');}">Удалить</button>
</form>
