{% form_theme form 'elements/form_row.html.twig' %}

{{ form_start(form) }}
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.documentFile, {'label' : 'Файл документа'}) }}
        </div>
    </div>
    <button class="btn btn-outline-success">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
