{% extends 'layouts/main.html.twig' %}

{% block page_title %}Список документов{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-outline-success" href="{{ path('documents_new') }}">Добавить документ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-stats order-table ov-h">
                        <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Название документа</th>
                                <th>Дата добавления</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for document in pagination  %}
                            <tr>
                                <td>{{ document.id }}</td>
                                <td>{{ document.title }}</td>
                                <td>{{ document.createdAt|date('Y-m-d') }}</td>

                                <td>
                                    <a href="{{ path('documents_show', {'id': document.id}) }}" class="btn btn-sm btn-info">Подробнее</a>
                                    <a href="{{ path('documents_edit', {'id': document.id}) }}" class="btn btn-sm btn-warning color-white"><i class="fa fa-pencil"></i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="11">No records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
