{% extends 'layouts/main.html.twig' %}

{% block page_title %}Добавление документа{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-outline-info" href="{{ path('documents_index')  }}">Вернуться к списку документов</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            {{ include('documents/_form.html.twig') }}
        </div>
    </div>
{% endblock %}

{% block styles %}
    {{ parent() }}
    <!-- Include external CSS. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

    <!-- Include Editor style. -->
    <link href="{{ asset('assets/css/frola/froala_editor.pkgd.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/frola/froala_style.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}