{% extends 'layouts/main.html.twig' %}

{% block page_title %}Документ "{{ document.title }}"{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-outline-info" href="{{ path('documents_index')  }}">Вернуться к списку документов</a>
                    <a class="btn btn-outline-warning" href="{{ path('documents_edit', {'id': document.id}) }}">Изменить</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th>#</th>
                            <td>{{ document.id }}</td>
                        </tr>
                        <tr>
                            <th>Название файла</th>
                            <td>{{ document.title }}</td>
                        </tr>
                        <tr>
                            <th>Путь файла на сервере</th>
                            <td>public{{ vich_uploader_asset(document, 'documentFile') }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{ include('documents/_delete_form.html.twig') }}
{% endblock %}
