.select-page-bg {
  position: relative;
  background-color: #bcd5e9;
  height: 100vh;
  background-image: url("../img/select-floor/background-building.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.select-page-bg__background-cloud {
  position: absolute;
  opacity: 0.15;
  z-index: 0;
}
.select-page-bg__background-cloud:nth-child(1) {
  right: 30%;
  top: 14%;
  width: 12%;
}
.select-page-bg__background-cloud:nth-child(2) {
  right: 6%;
  top: 34%;
  width: 20%;
}
.select-page-bg__background-cloud:nth-child(3) {
  right: 28%;
  top: 61%;
  width: 19%;
}
.select-page-bg__background-cloud:nth-child(4) {
  right: 30%;
  top: 14%;
  width: 12%;
}
@media screen and (max-width: 1300px) {
  .select-page-bg__background-cloud:nth-child(1) {
    right: 25%;
  }
  .select-page-bg__background-cloud:nth-child(2) {
    width: 18%;
  }
  .select-page-bg__background-cloud:nth-child(3) {
    right: 20%;
  }
}
.header {
  position: fixed;
  z-index: 111;
  width: 100%;
  top: 0;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
}
.header:before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 99px;
  transition: opacity 0.3s ease-in;
  background: #bcd5e9;
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #cce0ef;
  opacity: 0;
}
.header.shadow:before {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
.header__content-container {
  position: relative;
  padding: 17px 0;
  margin: 0 auto;
  max-width: 1140px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.header__logo {
  width: 101px;
  height: 56px;
  background-image: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.header__links-container {
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-width: 482px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
}
.header__visually-impaired {
  width: 72px;
  height: 36px;
  fill: #ffffff;
  transition: fill 0.3s ease-in;
}
.dark .header__visually-impaired {
  fill: #2d3039;
  transition: fill 0.3s ease-out;
}
.header__phone {
  color: #FFffff;
  font-family: HelveticaLight;
  font-size: 20px;
  text-decoration: none;
  transition: color 0.3s ease-in;
}
.header__phone:hover {
  text-decoration: underline;
}
.dark .header__phone {
  color: #2d3039;
  transition: color 0.3s ease-out;
}
.header__question-btn {
  border: 1px solid #FFffff;
  background: transparent;
  padding: 10px 41px;
  color: #FFffff;
  letter-spacing: 0.7px;
  font-size: 12px;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}
.header__question-btn:hover {
  cursor: pointer;
}
.dark .header__question-btn {
  color: #b5cde0;
  transition: all 0.3s ease-out;
  background: #2d3039;
  border-color: transparent;
}
.header__mobile-menu {
  display: none;
}
@media screen and (max-width: 1250px) {
  .header__content-container {
    width: 100%;
    max-width: none;
  }
  .header__mobile-menu {
    z-index: -1;
    display: block;
  }
  .header__mobile-menu.active {
    z-index: 20;
  }
  .header__visually-impaired,
  .header__phone,
  .header__menu {
    display: none;
  }
  .header__question-btn {
    position: absolute;
    top: 28px;
    right: 30px;
  }
  .header__logo {
    position: absolute;
    top: 30px;
    height: 32px;
    width: 58px;
    left: 50%;
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    transition: opacity 0.75s;
  }
  .mobile-menu.active ~ .header__logo {
    opacity: 0;
  }
}
@media screen and (max-width: 662px) {
  .header__logo {
    right: 0;
    left: auto;
    -ms-transform: none;
        transform: none;
    margin-right: 240px;
    margin-left: auto;
    width: 58px;
  }
}
.header-menu {
  display: -ms-flexbox;
  display: flex;
}
.header-menu__item {
  margin-right: 24px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #FFffff !important;
  font-family: HelveticaLight;
  font-size: 14px;
  text-decoration: none !important;
  letter-spacing: 0.7px;
  transition: color 0.3s ease-in;
}
.header-menu__item:last-child {
  margin-right: 0;
}
.dark .header-menu__item {
  color: #2d3039 !important;
  transition: color 1s ease-out;
}
@media screen and (max-width: 1250px) {
  .header-menu {
    display: none;
  }
}
.promo-block {
  position: relative;
  z-index: 2;
  height: 100vh;
  /*background: url("../img/promo-bg.jpg");*/
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}
.promo-block:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.promo-block__content-container {
  z-index: 3;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}
.promo-block__title {
  font-family: GaramondItalic;
  font-size: 113px;
  color: #FFffff;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  line-height: 151px;
  letter-spacing: 11.5px;
}
.promo-block__title--large {
  font-size: 185px;
  letter-spacing: 19px;
}
.promo-block__description {
  margin: 92px auto 0;
  line-height: 30px;
  max-width: 810px;
  color: #FFffff;
  text-align: center;
  font-size: 20px;
  letter-spacing: 1.5px;
  font-family: HelveticaLight;
}
@media screen and (max-width: 1600px) {
  .promo-block__title {
    font-size: 90px;
  }
  .promo-block__title--large {
    font-size: 145px;
  }
  .promo-block__description {
    margin-top: 40px;
    font-size: 18px;
  }
}
@media screen and (max-width: 1400px) {
  .promo-block__title {
    font-size: 80px;
    line-height: 110px;
  }
  .promo-block__title--large {
    font-size: 135px;
  }
  .promo-block__description {
    font-size: 16px;
  }
}
@media screen and (max-width: 1100px) {
  .promo-block__title {
    font-size: 60px;
    line-height: 80px;
  }
  .promo-block__title--large {
    font-size: 95px;
  }
}
@media screen and (max-width: 1000px) {
  .promo-block__title {
    font-size: 45px;
    line-height: 60px;
  }
  .promo-block__title--large {
    font-size: 80px;
  }
  .promo-block__description {
    font-size: 14px;
    padding: 0 30px;
  }
}
@media screen and (max-width: 768px) {
  .promo-block__title {
    line-height: 49px;
  }
  #fullpage .promo-block__title {
    font-size: 25px;
  }
  #fullpage .promo-block__title--large {
    font-size: 60px;
  }
  .promo-block__title--large {
    font-size: 50px;
  }
  .promo-block__description {
    margin-top: 30px;
    font-size: 10px;
    padding: 0 50px;
  }
}
@media screen and (max-width: 480px) {
  #fullpage .promo-block__title,
  .promo-block__title {
    font-size: 25px;
  }
  #fullpage .promo-block__title--large,
  .promo-block__title--large {
    font-size: 28px;
    font-size: 58px;
  }
  .promo-block__description {
    margin-top: 40px;
    font-size: 16px;
    padding: 0 15px;
  }
}
.documentation {
  position: relative;
  overflow: hidden;
  padding-top: 190px;
  padding-bottom: 110px;
  min-height: 100vh;
  background-color: #bcd5e9;
  box-sizing: border-box;
}
.documentation__bg-img {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70%;
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 0 100%;
     object-position: 0 100%;
}
.documentation:before,
.documentation:after {
  content: '';
  position: absolute;
  z-index: 0;
  background-image: url("../img/bg-cloud.png");
  background-repeat: no-repeat;
}
.documentation:before {
  bottom: 8%;
  right: 15%;
  width: 30%;
  height: 32%;
  background-size: contain;
  opacity: 0.15;
}
.documentation:after {
  right: 17%;
  top: 12%;
  width: 20%;
  height: 23%;
  background-size: contain;
  opacity: 0.15;
}
.documentation__content-container {
  position: relative;
  z-index: 3;
}
.documentation__title {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-family: KievitProBold;
  text-align: center;
  font-size: 48px;
  color: #2d3039;
}
.documentation__description {
  margin: 35px auto 0;
  font-family: HelveticaLight;
  text-align: center;
  font-size: 18px;
  color: #2d3039;
  max-width: 900px;
  padding: 0 20px;
  letter-spacing: 0.2px;
}
.documentation__list {
  margin: 60px auto 0;
  max-width: 1170px;
  padding: 0 20px;
}
.documentation__pagination {
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -ms-flex-pack: center;
      justify-content: center;
}
.documentation__pagination-item {
  font-family: HelveticaLight;
  font-size: 18px;
  text-decoration: none;
  color: #2d3039;
  margin-right: 10px;
}
.documentation__pagination-item:hover {
  color: #2d3039;
}
.documentation__pagination-item:last-child {
  margin-right: 0;
}
.documentation__pagination-item.active {
  color: #2d3039;
  text-decoration: underline;
}
@media screen and (max-width: 1400px) {
  .documentation {
    padding-top: 130px;
  }
  .documentation__title {
    font-size: 38px;
  }
  .documentation__description {
    font-size: 16px;
  }
}
@media screen and (max-width: 1200px) {
  .documentation {
    padding-top: 100px;
  }
  .documentation__title {
    font-size: 28px;
  }
  .documentation__description {
    font-size: 14px;
  }
}
.documentation-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 30px 15px;
  border-top: 1px solid #697583;
}
.documentation-item:last-child {
  border-bottom: 1px solid #697583;
}
.documentation-item__name,
.documentation-item__date,
.documentation-item__date-title,
.documentation-item__download-link {
  font-size: 16px;
  font-family: "HelveticaLight";
  color: #2d3039;
  line-height: 1.875;
}
.documentation-item__name {
  max-width: 468px;
  width: 100%;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.documentation-item__date-container {
  width: 150px;
}
.documentation-item__download-link {
  text-transform: uppercase;
  color: #2d3039;
}
.documentation-item__download-link:hover {
  color: #2d3039;
}
@media screen and (max-width: 1400px) {
  .documentation-item__name,
  .documentation-item__date,
  .documentation-item__date-title,
  .documentation-item__download-link {
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px) {
  .documentation-item {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: baseline;
        align-items: baseline;
  }
  .documentation-item__name,
  .documentation-item__date-container {
    margin-bottom: 15px;
  }
  .documentation-item__name {
    max-width: none;
  }
  .documentation-item__date-title,
  .documentation-item__date {
    display: inline-block;
  }
  .documentation-item__date-container {
    width: 100%;
  }
}
@keyframes move1 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes changeSliders {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.slider {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.slider:before {
  content: '';
  position: absolute;
  z-index: 111;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(#bcd5e9 45%, rgba(188, 213, 233, 0.75) 71%, rgba(188, 213, 233, 0));
  opacity: 0.9;
}
.slider__btns {
  display: -ms-flexbox;
  display: flex;
  display: none;
  position: absolute;
  z-index: 999;
  top: 190px;
  left: 50%;
}
.slider__btns div {
  display: block;
  margin-right: 20px;
  padding: 10px;
  background-color: #dddddd;
  cursor: pointer;
}
.slider__btns div:hover {
  background-color: #ffffff;
}
.slider__circles-container {
  -ms-transform: scale(1);
      transform: scale(1);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.slider__circle {
  z-index: 2;
  position: absolute;
  left: calc(50vh + 123px);
  top: calc(50vh + 7px);
  -ms-transform-origin: center;
      transform-origin: center;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  border-radius: 50%;
  border: solid 5px #bcd5e9;
  background: transparent;
}
.change-slide .slider__circle {
  animation: changeSliders 1s cubic-bezier(0.47, 0.02, 0.36, 1.01);
}
.square .slider__circle {
  left: 110px;
  left: 20vw;
}
.slider__circle:nth-child(2) {
  width: 530px;
  height: 530px;
}
.slider__circle:nth-child(3) {
  width: 593px;
  height: 593px;
}
.slider__circle:nth-child(4) {
  width: 630px;
  height: 630px;
}
.slider__circle:nth-child(5) {
  width: 703px;
  height: 703px;
}
.slider__circle:nth-child(6) {
  width: 1000px;
  height: 1000px;
}
.slider__circle:nth-child(7) {
  width: 1300px;
  height: 1300px;
}
.slider__ui-particle {
  OVERFLOW: VISIBLE !important;
  position: absolute;
  z-index: 22;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%) scale(attr(data-scale));
      transform: translate(-50%, -50%) scale(attr(data-scale));
  fill: none;
  stroke: #bcd5e9;
}
.slider__circle:nth-child(2) .slider__ui-particle {
  position: absolute;
  z-index: 22;
  width: 530px;
  height: 530px;
  left: 50%;
  top: 50%;
  stroke-width: 7.5px;
  fill: none;
  animation: move1 25s linear infinite;
  stroke: #bcd5e9;
}
.slider__circle:nth-child(2) .slider__ui-particle circle {
  R: 56;
}
.slider__circle:nth-child(2) .slider__ui-particle:nth-child(2) {
  animation: move1 30s linear infinite;
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
}
.slider__circle:nth-child(3) .slider__ui-particle {
  position: absolute;
  z-index: 22;
  width: 594px;
  height: 594px;
  left: 50%;
  top: 50%;
  stroke-width: 3px;
  fill: none;
  animation: move1 100s linear infinite;
  stroke: #bcd5e9;
}
.slider__circle:nth-child(3) .slider__ui-particle circle {
  R: 58;
}
.slider__circle:nth-child(4) .slider__ui-particle {
  position: absolute;
  z-index: 22;
  width: 630px;
  height: 630px;
  left: 50%;
  top: 50%;
  stroke-width: 4px;
  fill: none;
  animation: move1 100s linear infinite;
  stroke: #bcd5e9;
}
.slider__circle:nth-child(4) .slider__ui-particle circle {
  R: 58;
}
.slider__circle:nth-child(5) .slider__ui-particle {
  position: absolute;
  z-index: 22;
  width: 710px;
  height: 710px;
  left: 50%;
  top: 50%;
  stroke-width: 6px;
  fill: none;
  animation: move1 100s linear infinite;
  stroke: #bcd5e9;
}
.slider__circle:nth-child(5) .slider__ui-particle circle {
  R: 56;
}
.slider__circle:nth-child(6) .slider__ui-particle {
  position: absolute;
  z-index: 22;
  width: 1000px;
  height: 1000px;
  left: 50%;
  top: 50%;
  stroke-width: 18px;
  fill: none;
  animation: move1 50s linear infinite;
  stroke: #bcd5e9;
}
.slider__circle:nth-child(6) .slider__ui-particle circle {
  R: 51;
}
.slider__circle:nth-child(7) .slider__ui-particle {
  position: absolute;
  z-index: 22;
  width: 1300px;
  height: 1300px;
  left: 50%;
  top: 50%;
  stroke-width: 14px;
  fill: none;
  animation: move1 80s linear infinite;
  stroke: #bcd5e9;
}
.slider__circle:nth-child(7) .slider__ui-particle circle {
  R: 53;
}
@media screen and (min-width: 1200px) {
  .square .slider__circle {
    left: 30vw;
    left: 380px;
  }
}
@media screen and (min-width: 1400px) {
  .square .slider__circle {
    left: 430px;
  }
}
@media screen and (min-width: 1600px) {
  .square .slider__circle {
    left: 500px;
  }
}
@media screen and (min-width: 1850px) {
  .slider__circle {
    left: calc(38vw);
  }
  .square .slider__circle {
    left: calc(29vw);
  }
}
@media screen and (min-width: 2000px) {
  .square .slider__circle {
    left: 33vw;
  }
}
@media screen and (max-width: 1400px) {
  .slider__circle {
    left: 440px;
  }
}
@media screen and (max-width: 1200px) {
  .slider__circle {
    left: 380px;
  }
}
@media screen and (max-width: 1000px) {
  .slider__circle {
    left: 330px;
    left: 290px;
  }
  .square .slider__circle {
    left: 140px;
  }
}
@media screen and (max-width: 800px) {
  .slider__circle {
    left: calc(153px);
  }
  .square .slider__circle {
    left: 110px;
  }
}
@media screen and (max-width: 600px) {
  .slider__circle {
    animation: none !important;
  }
  .slider .slider__ui-particle {
    animation: none !important;
    -ms-transform: translate(-50%, -50%) !important;
        transform: translate(-50%, -50%) !important;
  }
}
@media screen and (max-width: 600px) {
  .slider__circle {
    left: 90px;
  }
  .square .slider__circle {
    left: 60px;
  }
}
@media screen and (max-width: 550px) {
  .square .slider__circle {
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    top: calc(80vh + 0px);
    bottom: 140px;
    top: auto;
    -ms-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
  }
}
@media screen and (max-width: 550px) {
  .slider__circle {
    left: 150px;
  }
}
@keyframes showTitle {
  from {
    top: 35%;
    left: 50%;
    opacity: 0;
    font-size: 0;
    transform: translate(-50%, -50%);
  }
  50% {
    opacity: 1;
    font-size: 55px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    top: 50px;
    left: 0;
    transform: translate(0, 0);
  }
}
@keyframes showContent {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slider-item {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}
.slider-item:not(.active-slide) {
display: none;
}
.slider-item.active-slide {
  display: block;
}
.slider-item__background {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100%;
  -o-object-position: left;
     object-position: left;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in, transform 1s ease-in;
  -ms-transform: scale(1.2);
      transform: scale(1.2);
}
.active-slide .slider-item__background {
  -ms-transform: scale(1);
      transform: scale(1);
  opacity: 1;
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.about-slide .slider-item__background {
  -o-object-position: left;
     object-position: left;
}
.square .about-slide .slider-item__background {
  -o-object-position: 80% 100%;
     object-position: 80% 100%;
}
.project-slide .slider-item__background {
  -o-object-position: left;
     object-position: left;
}
.square .project-slide .slider-item__background {
  -o-object-position: right;
     object-position: right;
}
.choice-slide .slider-item__background {
  width: 150%;
  height: 150%;
  -o-object-position: 160% 50%;
     object-position: 160% 50%;
}
.square .choice-slide .slider-item__background {
  -o-object-position: 120% 50%;
     object-position: 120% 50%;
}
.progress-slide .slider-item__background {
  -o-object-position: 70%;
     object-position: 70%;
}
.strategy-slide .slider-item__background {
  -o-object-position: 70%;
     object-position: 70%;
}
.contacts-slide .slider-item__background {
  -o-object-position: left;
     object-position: left;
}
.credit-slide .slider-item__background {
  -o-object-position: right;
     object-position: right;
}
.partners-slide .slider-item__background {
  -o-object-position: left;
     object-position: left;
}
.slider-item__container-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slider-item__content-container {
  opacity: 0;
  display: -ms-flexbox;
  display: flex;
  left: calc(50vh + 123px);
  top: calc(50vh + 7px);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-direction: column;
      flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 561px;
  height: 561px;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #bcd5e9;
  z-index: -1;
}
.active-slide .slider-item__content-container {
  opacity: 1;
  z-index: 4;
}
.square .slider-item__content-container {
  left: 20vw;
}
.note-book .slider-item__content-container {
  left: calc(40vh + 125px);
}
.slider-item__title {
  opacity: 0;
  position: relative;
  -ms-flex-pack: center;
      justify-content: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  top: 50px;
  height: 27%;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  font-size: 45px;
  font-family: KievitProBold;
  text-transform: uppercase;
  color: #2d3039;
}
.active-slide .slider-item__title {
  top: 50px;
  left: 0;
  opacity: 1;
  animation: showTitle 0.75s ease-in-out;
}
.square .slider-item__title {
  padding-left: 23%;
  -ms-flex-pack: start;
      justify-content: flex-start;
  text-align: left;
  max-width: calc(100% - 90px);
}
.slider-item__subtitle {
  position: relative;
  top: -120px;
  font-size: 30px;
  opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 0.75s;
  color: #2d3039;
}
.active-slide .slider-item__subtitle {
  opacity: 1;
}
.slider-item__description {
  position: relative;
  margin-top: 60px;
  max-width: calc(100% - 100px);
  opacity: 0;
  transition: opacity 0.5s;
  transition-delay: 0.75s;
  font-family: HelveticaLight;
  font-size: 12px;
  text-align: center;
  color: #2d3039;
}
.active-slide .slider-item__description {
  opacity: 1;
}
.square .slider-item__description {
  padding-left: 22%;
  text-align: left;
}
.slider-item__button {
  margin-top: 30px;
  width: 270px;
  height: 45px;
  background: #2d3039;
  border: none;
  color: #ffffff;
  opacity: 0;
  font-size: 12px;
  font-family: "HelveticaLight";
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  transition: opacity 0.5s;
  transition-delay: 0.75s;
}
.active-slide .slider-item__button {
  opacity: 1;
}
@media screen and (min-width: 1200px) {
  .square .slider-item__content-container {
    left: 30vw;
    left: 380px;
  }
}
@media screen and (min-width: 1400px) {
  .square .slider-item__content-container {
    left: 430px;
  }
}
@media screen and (min-width: 1600px) {
  .square .slider-item__content-container {
    left: 500px;
  }
}
@media screen and (min-width: 1850px) {
  .slider-item__content-container {
    left: calc(38vw);
  }
  .square .slider-item__content-container {
    left: calc(29vw);
  }
}
@media screen and (min-width: 2000px) {
  .square .slider-item__content-container {
    left: 33vw;
  }
}
@media screen and (max-width: 1400px) {
  .slider-item__content-container {
    left: 440px;
  }
}
@media screen and (max-width: 1200px) {
  .slider-item__content-container {
    left: 380px;
  }
}
@media screen and (max-width: 1000px) {
  .slider-item__content-container {
    left: 290px;
  }
  .square .slider-item__content-container {
    left: 140px;
  }
}
@media screen and (max-width: 800px) {
  .slider-item__title {
    font-size: 35px;
  }
  .square .slider-item__title {
    padding-left: 25%;
    max-width: calc(100% - 90px);
  }
  .slider-item__description {
    font-size: 10px;
  }
  .square .slider-item__description {
    padding-left: 25%;
  }
  .slider-item__content-container {
    bottom: 50%;
    left: calc(153px);
  }
  .square .slider-item__content-container {
    left: 110px;
  }
}
@media screen and (max-width: 600px) {
  .slider-item__content-container {
    left: 90px;
  }
  .square .slider-item__content-container {
    left: 60px;
  }
}
@media screen and (max-width: 550px) {
  .square .slider-item__content-container {
    -ms-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
    bottom: 140px;
    top: auto;
  }
  .square .slider-item__description {
    font-size: 12px;
  }
  .square .slider-item__title {
    font-size: 30px;
    height: 18%;
  }
  .square .slider-item__button {
    width: 100%;
    max-width: 210px;
    margin-top: 20px;
  }
  .slider-item__title {
    font-size: 30px;
  }
  .choice-slide .slider-item__background {
    width: 100%;
    height: 100%;
    -o-object-position: 57% 50% !important;
       object-position: 57% 50% !important;
  }
  .progress-slide .slider-item__background {
    -o-object-position: 75% 50%;
       object-position: 75% 50%;
  }
  .strategy-slide .slider-item__background {
    -o-object-position: 64%;
       object-position: 64%;
  }
  .contacts-slide .slider-item__background {
    -o-object-position: 77%;
       object-position: 77%;
  }
}
@media screen and (max-width: 500px) {
  .slider-item__content-container {
    left: 150px;
  }
}
.footer {
  z-index: 1;
  position: relative;
  background-color: #2d3039;
  padding-top: 120px;
  padding-bottom: 110px;
  min-height: 100vh;
}
.footer__menu-item {
  margin-bottom: 30px;
}
.footer__menu-container {
  margin-bottom: 110px;
}
.footer__logo {
  height: 135px;
  background: url("../img/footer-logo.png") no-repeat;
}
.footer__expil-logo {
  height: 135px;
  background: url("../img/expil-logo.png") no-repeat;
  background-size: contain;
  background-position: 100%;
}
.main-page__footer-container .footer {
  min-height: 100%;
  padding-top: 150px;
}
.in-develop-page .footer {
  z-index: 0;
}
@media screen and (max-width: 992px) {
  .footer__logo {
    -ms-flex-order: 2;
        order: 2;
  }
  .footer__menu-container {
    margin-bottom: 40px;
  }
  .footer__expil-logo {
    -ms-flex-order: 3;
        order: 3;
  }
  .footer__social-links {
    margin-bottom: 60px;
  }
  .main-page__footer-container .footer {
    min-height: 100%;
    padding-top: 120px;
  }
}
@media screen and (max-width: 575px) {
  .footer__logo {
    background-position: 50%;
  }
  .footer__expil-logo {
    background-position: 50% 100%;
    margin-top: 50px;
  }
  .footer__social-links {
    -ms-flex-pack: center;
        justify-content: center;
  }
}
.social-links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
}
.social-links__item {
  display: block;
  margin-right: 17px;
}
.social-links__item img {
  transition: background-color 0.15s;
  background-color: transparent;
  border-radius: 50%;
}
.social-links__item:hover img {
  background-color: rgba(188, 213, 233, 0.26);
}
.social-links__item:last-child {
  margin-right: 0;
}
.select-floor {
  position: relative;
  background-color: #bcd5e9;
  height: 100vh;
  background-image: url("../img/select-floor/background-building.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.select-floor__background-cloud {
  position: absolute;
  opacity: 0.15;
  z-index: 0;
}
.select-floor__background-cloud:nth-child(1) {
  right: 30%;
  top: 14%;
  width: 12%;
}
.select-floor__background-cloud:nth-child(2) {
  right: 6%;
  top: 34%;
  width: 20%;
}
.select-floor__background-cloud:nth-child(3) {
  right: 28%;
  top: 61%;
  width: 19%;
}
.select-floor__background-cloud:nth-child(4) {
  right: 30%;
  top: 14%;
  width: 12%;
}
@media screen and (max-width: 1300px) {
  .select-floor__background-cloud:nth-child(1) {
    right: 25%;
  }
  .select-floor__background-cloud:nth-child(2) {
    width: 18%;
  }
  .select-floor__background-cloud:nth-child(3) {
    right: 20%;
  }
}
.select-floor__title {
  position: absolute;
  top: 55%;
  right: 10%;
  font-size: 72px;
  font-family: KievitProBold;
  text-transform: uppercase;
  text-align: right;
  color: #2d3039;
}
.select-floor__choice-section {
  position: absolute;
  right: 10%;
  top: 12%;
  width: 30%;
}
@media screen and (max-width: 1000px) {
  .select-floor__title {
    font-size: 52px;
  }
}
.select-apartment {
  position: relative;
  background-color: #bcd5e9;
  height: 100vh;
  background-image: url("../img/select-floor/background-building.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}
.select-apartment__background-cloud {
  position: absolute;
  opacity: 0.15;
  z-index: 0;
}
.select-apartment__background-cloud:nth-child(1) {
  right: 30%;
  top: 14%;
  width: 12%;
}
.select-apartment__background-cloud:nth-child(2) {
  right: 6%;
  top: 34%;
  width: 20%;
}
.select-apartment__background-cloud:nth-child(3) {
  right: 28%;
  top: 61%;
  width: 19%;
}
.select-apartment__background-cloud:nth-child(4) {
  right: 30%;
  top: 14%;
  width: 12%;
}
@media screen and (max-width: 1300px) {
  .select-apartment__background-cloud:nth-child(1) {
    right: 25%;
  }
  .select-apartment__background-cloud:nth-child(2) {
    width: 18%;
  }
  .select-apartment__background-cloud:nth-child(3) {
    right: 20%;
  }
}
.select-apartment__title {
  position: absolute;
  top: 36%;
  left: 43%;
  font-family: KievitProBold;
  font-size: 72px;
  color: #2d3039;
  text-transform: uppercase;
  text-align: center;
}
.select-apartment__plan {
  position: absolute;
  left: 10%;
  top: 15%;
  width: 27%;
  height: 80%;
}
.select-apartment__section {
  position: absolute;
  right: 10%;
  top: 12%;
  width: 25%;
}
.select-apartment__select-floor {
  position: absolute;
  top: 100%;
  right: calc(10% - 100px);
  bottom: 0;
  width: 36%;
  height: 30%;
  -ms-transform: translateY(-100%);
      transform: translateY(-100%);
}
.select-apartment__house {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.select-apartment__house:before {
  content: '';
  display: block;
  padding-bottom: 65%;
}
.select-apartment__compass {
  position: absolute;
  bottom: 10%;
  right: 45%;
  width: 10%;
  background-image: url(../img/select-apartment/compas.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.select-apartment__compass:before {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.select-apartment__house-wrapper {
  width: 86%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}
@media screen and (max-width: 1500px) {
  .select-apartment__title {
    font-size: 51px;
  }
}
@media screen and (max-width: 1200px) {
  .select-apartment__title {
    left: 53%;
  }
}
@media screen and (max-width: 1000px) {
  .select-apartment__title {
    font-size: 40px;
  }
}
.floor-counter {
  height: 122px;
  position: absolute;
  left: -5%;
  z-index: 111;
}
.floor-counter__prev-btn,
.floor-counter__next-btn {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  cursor: pointer;
  z-index: 2;
}
.floor-counter__prev-btn {
  top: 93px;
  border-width: 29px 17px 0 17px;
  border-color: #2d3039 transparent transparent transparent;
}
.floor-counter__next-btn {
  top: 0;
  border-width: 0 17px 29px 17px;
  border-color: transparent transparent #2d3039 transparent;
}
.floor-counter__count {
  position: absolute;
  top: 40px;
  font-family: KievitProBold;
  font-size: 60px;
  line-height: 21px;
  z-index: 0;
}
.floor-plan {
  position: absolute;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.floor-plan__floor-map {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.floor-plan__selected-scheme {
  position: absolute;
  height: 98%;
  top: 0.6%;
  left: 1%;
}
.choice-section-block {
  background: #0c5460;
}
.choice-section-block:before {
  content: '';
  display: block;
  padding-bottom: 60%;
}
.apartment-plan {
  position: relative;
  background-color: #bcd5e9;
  height: 100vh;
  background-image: url("../img/select-floor/background-building.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.apartment-plan__background-cloud {
  position: absolute;
  opacity: 0.15;
  z-index: 0;
}
.apartment-plan__background-cloud:nth-child(1) {
  right: 30%;
  top: 14%;
  width: 12%;
}
.apartment-plan__background-cloud:nth-child(2) {
  right: 6%;
  top: 34%;
  width: 20%;
}
.apartment-plan__background-cloud:nth-child(3) {
  right: 28%;
  top: 61%;
  width: 19%;
}
.apartment-plan__background-cloud:nth-child(4) {
  right: 30%;
  top: 14%;
  width: 12%;
}
@media screen and (max-width: 1300px) {
  .apartment-plan__background-cloud:nth-child(1) {
    right: 25%;
  }
  .apartment-plan__background-cloud:nth-child(2) {
    width: 18%;
  }
  .apartment-plan__background-cloud:nth-child(3) {
    right: 20%;
  }
}
.apartment-plan__plan {
  position: absolute;
  width: 38%;
}
.apartment-plan__plan:before {
  content: '';
  display: block;
  padding-bottom: 89%;
}
.apartment-plan__content-container {
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  width: 81%;
  height: 60%;
  top: 12%;
}
.apartment-plan__title {
  position: absolute;
  left: 52%;
  top: 23%;
  font-size: 72px;
  font-family: KievitProBold;
  text-align: center;
  color: #2d3039;
}
.apartment-plan__plan-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.apartment-plan__floor-plan {
  height: 77%;
  position: absolute;
  right: 0;
  background-position: right;
}
.apartment-plan__request-button {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 23%;
  height: 10%;
  background-color: #2d3039;
  border: none;
  font-family: HelveticaLight;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.apartment-plan__information {
  position: absolute;
  bottom: 13%;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
}
@media screen and (max-width: 1560px) {
  .apartment-plan__title {
    font-size: 55px;
    left: 50%;
  }
  .apartment-plan__request-button {
    font-size: 14px;
  }
}
@media screen and (max-width: 1450px) {
  .apartment-plan__title {
    font-size: 55px;
  }
  .apartment-plan__request-button {
    font-size: 14px;
  }
}
@media screen and (max-width: 1300px) {
  .apartment-plan__title {
    font-size: 45px;
  }
}
@media screen and (max-width: 1100px) {
  .apartment-plan__title {
    font-size: 38px;
  }
}
@media screen and (max-width: 1000px) {
  .apartment-plan__title {
    font-size: 32px;
  }
  .apartment-plan__request-button {
    font-size: 10px;
  }
}
.apartment-information {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 90%;
}
.apartment-information__item {
  margin-right: 60px;
}
.apartment-information__item:last-child {
  margin-right: 0;
}
.apartment-information__item-data {
  font-family: KievitProBold;
  font-size: 60px;
  color: #2d3039;
}
.apartment-information__item-title {
  font-family: KievitProLight;
  font-size: 18px;
  color: #2d3039;
}
@media screen and (max-width: 1450px) {
  .apartment-information__item-data {
    font-size: 42px;
  }
}
@media screen and (max-width: 1200px) {
  .apartment-information__item {
    margin-right: 40px;
  }
  .apartment-information__item-data {
    font-size: 32px;
  }
}
@media screen and (max-width: 992px) {
  .apartment-information__item-data {
    font-size: 24px;
  }
}
.apartments-page {
  position: relative;
  min-height: 100vh;
  padding-top: 190px;
  overflow: hidden;
}
.apartments-page:before {
  content: '';
  z-index: -2;
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #bcd5e9;
}
.apartments-page__background-cloud {
  position: absolute;
  z-index: -1;
  opacity: 0.15;
}
.apartments-page__background-cloud:nth-child(1) {
  width: 20%;
  right: 17%;
  top: 120px;
}
.apartments-page__background-cloud:nth-child(2) {
  width: 30%;
  left: 6%;
  top: 350px;
}
.apartments-page__background-cloud:nth-child(3) {
  width: 30%;
  right: 10%;
  top: 700px;
}
.apartments-page__background-cloud:nth-child(4) {
  width: 20%;
  left: 4%;
  top: 1380px;
}
.apartments-page__title {
  font-family: KievitProBold;
  font-size: 48px;
  text-transform: uppercase;
  text-align: center;
}
.apartments-page__filters {
  margin: 90px auto 0;
}
.apartments-page__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1600px;
  margin: 90px auto 0;
}
.apartments-page__list-item-container {
  padding: 0 20px;
  width: calc(100%/4 - 40px);
  margin-bottom: 40px;
}
@media screen and (max-width: 998px) {
  .apartments-page__list-item-container {
    width: calc(100%/3 - 40px);
  }
}
@media screen and (max-width: 768px) {
  .apartments-page__list-item-container {
    width: calc(100%/2 - 40px);
  }
}
@media screen and (max-width: 450px) {
  .apartments-page__list-item-container {
    width: calc(100% - 40px);
  }
}
.apartments-filters {
  display: -ms-flexbox;
  display: flex;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.apartments-filters__item {
  margin-right: 80px;
}
.apartments-filters__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 1400px) {
  .apartments-filters__item {
    margin-right: 50px;
  }
}
@media screen and (max-width: 1300px) {
  .apartments-filters {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    max-width: 850px;
  }
  .apartments-filters__item {
    margin-right: 50px;
    width: 50%;
  }
  .apartments-filters__item:nth-child(3) {
    -ms-flex-order: 4;
        order: 4;
  }
  .apartments-filters__item:nth-child(4) {
    -ms-flex-order: 3;
        order: 3;
  }
}
@media screen and (max-width: 860px) {
  .apartments-filters {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .apartments-filters__item {
    margin-right: 0;
    width: auto;
    margin-bottom: 30px;
  }
  .apartments-filters__item:nth-child(2) {
    -ms-flex-order: 3;
        order: 3;
  }
  .apartments-filters__item:nth-child(3) {
    -ms-flex-order: 4;
        order: 4;
    margin-bottom: 0;
  }
  .apartments-filters__item:nth-child(4) {
    -ms-flex-order: 2;
        order: 2;
  }
}
.select-filter {
  font-size: 18px;
  font-family: HelveticaLight;
}
.select-filter__title {
  font-size: 14px;
  font-family: HelveticaLight;
  margin-bottom: 20px;
  color: #2d3039;
}
.range-filter {
  position: relative;
  width: 320px;
  height: 72px;
}
.range-filter:before {
  display: block;
  position: absolute;
  bottom: 0;
  width: 90%;
  border-bottom: 2px solid #ffffff;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
}
.range-filter--count-down .noUi-base .noUi-handle::before {
  content: '';
  display: none;
}
.range-filter__title {
  font-size: 14px;
  font-family: HelveticaLight;
  margin-bottom: 20px;
}
.range-filter__min-point,
.range-filter__max-point {
  position: absolute;
  bottom: -20px;
}
.range-filter__min-point {
  left: 0;
  font-size: 16px;
  font-family: HelveticaLight;
}
.range-filter__min-point:after {
  content: ' р';
}
.range-filter__max-point {
  right: 0;
  font-size: 16px;
  font-family: HelveticaLight;
}
.range-filter__max-point:after {
  content: ' р';
}
.range-filter .noUi-target {
  height: 37px;
  width: 300px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
}
.range-filter .noUi-base .noUi-handle {
  background-color: transparent;
  border: none;
  border-radius: 6px;
  box-shadow: none;
  color: #2d3039;
  display: table;
  font-size: 15px;
  left: 0;
  margin-left: -22px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  z-index: 2;
  width: 57px;
  height: 38px;
  background-image: url("../img/filters/cloud-fill.png");
  right: -50px;
}
.range-filter .noUi-base,
.range-filter .noUi-connects {
  width: 257px;
}
.range-filter .noUi-base .noUi-handle {
  cursor: pointer;
}
.range-filter .noUi-base .noUi-handle::before {
  background: transparent;
  content: attr(data-value);
  display: table-cell;
  font-size: 18px;
  font-weight: 100;
  position: static;
  width: 100%;
  vertical-align: middle;
}
.range-filter .noUi-base .noUi-handle.noUi-active {
  z-index: 3;
}
.range-filter .noUi-base .noUi-handle::after {
  display: none;
}
.noUi-horizontal .range-filter .noUi-base .noUi-handle {
  cursor: ew-resize;
}
html:not([dir=rtl]) .noUi-horizontal .noUi-handle {
  right: -50px;
}
.apartments-list-item {
  background-color: #ffffff;
}
.apartments-list-item__title {
  font-size: 21px;
  font-family: HelveticaLight;
  padding: 26px 28px 21px;
  border-bottom: 1px solid #bcd5e9;
}
.apartments-list-item__img {
  display: block;
  margin: 20px auto;
  width: 77%;
  -o-object-fit: contain;
     object-fit: contain;
}
.apartments-list-item__description {
  font-family: HelveticaLight;
  font-size: 16px;
  padding: 22px 28px 42px;
}
.filter-checkbox {
  margin-right: 9px;
}
.filter-checkbox input {
  opacity: 0;
  position: absolute;
}
.filter-checkbox span {
  display: inline-block;
  position: relative;
  width: 57px;
  height: 38px;
  padding-top: 11px;
  box-sizing: border-box;
  text-align: center;
  color: #2d3039;
  cursor: pointer;
}
.filter-checkbox span:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 57px;
  height: 38px;
  background-image: url("../img/filters/cloud-fill.png");
}
.filter-checkbox input:checked ~ span:before {
  background-image: url("../img/filters/cloud-transparent.png");
}
.filter-checkbox--rooms span {
  font-size: 16px;
  padding-top: 14px;
}
.about-page {
  position: relative;
  background-color: #bcd5e9;
  overflow: hidden;
}
.about-page__content-container {
  padding: 46px 15px 33px;
}
.about-page__content-block {
  margin-bottom: 20px;
}
.about-page__pagination {
  margin-top: 65px;
}
@keyframes cloudMove1 {
  from {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(-2px);
  }
}
@keyframes cloudMove2 {
  from {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(12px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes cloudMove3 {
  from {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(-7px);
  }
  to {
    transform: translateY(4px);
  }
}
@keyframes cloudMove4 {
  from {
    transform: translateY(6px);
  }
  50% {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(6px);
  }
}
@keyframes cloudMove5 {
  from {
    transform: translateY(-4px);
  }
  50% {
    transform: translateY(8px);
  }
  to {
    transform: translateY(-4px);
  }
}
.material-clouds {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.material-clouds__cloud {
  position: absolute;
  z-index: 10;
  transition: all 0.15s linear;
}
.material-clouds__cloud:nth-child(1) {
  width: 15%;
  top: -3%;
  left: 2%;
  animation: cloudMove1 3s ease-in-out infinite;
}
.material-clouds__cloud:nth-child(2) {
  width: 32%;
  bottom: -8%;
  left: 0.6%;
  animation: cloudMove2 4s ease-in-out infinite;
}
.material-clouds__cloud:nth-child(3) {
  width: 18.5%;
  bottom: -5%;
  left: 30.2%;
  animation: cloudMove3 5s ease-in-out infinite;
  animation-direction: reverse;
}
.material-clouds__cloud:nth-child(4) {
  width: 26.3%;
  bottom: -6%;
  right: 29.2%;
  animation: cloudMove4 7s ease-in-out infinite;
}
.material-clouds__cloud:nth-child(5) {
  width: 31%;
  bottom: -9%;
  right: 2.6%;
  animation: cloudMove2 6s ease-in-out infinite;
}
@media screen and (max-width: 1580px) {
  .material-clouds__cloud:nth-child(1) {
    width: 11%;
  }
}
@media screen and (max-width: 1400px) {
  .material-clouds__cloud:nth-child(1) {
    display: none;
  }
}
.content-block {
  display: -ms-flexbox;
  display: flex;
  ALIGN-ITEMS: self-start;
}
.content-block:nth-child(2n) {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}
.content-block:nth-child(2n) .content-block__text-container {
  text-align: right;
}
.content-block__text-container {
  width: 50%;
  padding: 0 70px;
  box-sizing: border-box;
  margin-top: 120px;
  margin-bottom: 30px;
}
.content-block__title {
  margin-bottom: 40px;
  font-family: HelveticaLight;
  font-size: 30px;
  color: #2d3039;
}
.content-block__text {
  font-size: 18px;
  font-family: HelveticaLight;
  color: #2d3039;
}
.content-block__img-container {
  position: relative;
  width: 50%;
  overflow: hidden;
  border-radius: 170px;
  margin-bottom: 30px;
}
.content-block__img-container:before {
  content: '';
  display: block;
  padding-bottom: 50%;
}
.content-block__img-container--slider {
  border-radius: 0 !important;
  overflow: visible;
}
.content-block__img-container--slider:before {
  padding-bottom: 57%;
}
.content-block__img-container--slider.owl-carousel .owl-nav button.owl-prev,
.content-block__img-container--slider.owl-carousel .owl-nav button.owl-next {
  width: 25px;
  height: 34px;
  background-image: url("../img/slider-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.content-block__img-container--slider.owl-carousel .owl-nav button.owl-prev:hover,
.content-block__img-container--slider.owl-carousel .owl-nav button.owl-next:hover {
  opacity: 0.7;
}
.content-block__img-container--slider.owl-carousel .owl-nav button.owl-next {
  margin-right: 43px;
  width: 25px;
  height: 34px;
  background-image: url("../img/slider-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.content-block__img-container--slider.owl-carousel .owl-nav button.owl-prev {
  width: 25px;
  height: 34px;
  -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
  background-image: url("../img/slider-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.content-block__img-container--slider .owl-stage-outer {
  position: absolute;
  top: 0;
  height: 100%;
}
.content-block__img-container--slider .owl-stage,
.content-block__img-container--slider .owl-item {
  height: 100%;
}
.content-block__img-container--slider .owl-nav {
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
}
.content-block__img {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1600px) {
  .content-block__text-container {
    margin-top: 70px;
  }
  .content-block__img-container {
    border-radius: 110px;
  }
}
@media screen and (max-width: 1400px) {
  .content-block__text-container {
    margin-top: 50px;
  }
  .content-block__text {
    font-size: 16px;
  }
  .content-block__img-container {
    border-radius: 80px;
  }
}
@media screen and (max-width: 1300px) {
  .content-block__text-container {
    margin-top: 30px;
  }
  .content-block__text {
    font-size: 16px;
  }
  .content-block__img-container {
    border-radius: 60px;
  }
}
@media screen and (max-width: 1100px) {
  .content-block__text-container {
    margin-top: 0;
  }
}
@media screen and (max-width: 1100px) {
  .content-block {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .content-block__img-container {
    width: 100%;
  }
  .content-block__text-container {
    width: 100%;
    margin-top: 25px;
  }
  .content-block:nth-child(2n) {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .content-block:nth-child(2n) .content-block__text-container {
    text-align: left;
  }
}
@media screen and (max-width: 700px) {
  .content-block__text-container {
    padding: 0;
  }
  .content-block__img-container {
    border-radius: 30px;
  }
}
@media screen and (max-width: 560px) {
  .content-block__title {
    margin-bottom: 20px;
  }
}
.in-develop-page {
  position: relative;
  height: 100vh;
  background-color: #bcd5e9;
}
.in-develop-page:before,
.in-develop-page:after {
  content: '';
  position: absolute;
  z-index: 0;
  display: block;
  opacity: 0.15;
  background-image: url("../img/bg-cloud.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.in-develop-page:before {
  width: 20%;
  height: 21%;
  top: 25%;
  right: 5%;
}
.in-develop-page:after {
  width: 30%;
  height: 31%;
  top: 60%;
  right: 24%;
}
.in-develop-page__title {
  position: absolute;
  z-index: 2;
  top: 45%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  text-align: center;
  left: 50%;
  font-size: 88px;
  font-family: KievitProBold;
  font-weight: bold;
  color: #2d3039;
  text-transform: uppercase;
}
.in-develop-page__crane-img-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.in-develop-page__crane-img-container:before {
  content: "";
  position: absolute;
  z-index: 1;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
  top: -10%;
  bottom: 101%;
  left: 10px;
  right: 10px;
  border-radius: 100px / 10px;
}
.in-develop-page__crane-img {
  position: absolute;
  z-index: 1;
  opacity: 0.86;
  height: 95%;
  bottom: -1%;
  left: 2%;
  width: 32%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom;
     object-position: bottom;
}
.in-develop-page__gears {
  position: absolute;
  z-index: 0;
  opacity: 0.15;
  width: 37%;
}
@media screen and (max-width: 1440px) {
  .in-develop-page__title {
    font-size: 58px;
  }
}
@media screen and (max-width: 1262px) {
  .in-develop-page__title {
    font-size: 38px;
  }
}
@media screen and (max-width: 1000px) {
  .in-develop-page__title {
    font-size: 38px;
  }
}
@media screen and (max-width: 700px) {
  .in-develop-page__crane-img {
    display: none;
  }
}
.content-slider__buttons-container {
  position: absolute;
  bottom: -20px;
}
.content-slider__slide-wrapper {
  position: absolute;
  overflow: hidden;
  border-radius: 170px;
  width: 100%;
  height: 90%;
  top: 0;
}
@media screen and (max-width: 1600px) {
  .content-slider__slide-wrapper {
    border-radius: 110px;
  }
}
@media screen and (max-width: 1400px) {
  .content-slider__slide-wrapper {
    border-radius: 80px;
  }
}
@media screen and (max-width: 1300px) {
  .content-slider__slide-wrapper {
    border-radius: 60px;
  }
}
@media screen and (max-width: 700px) {
  .content-slider__slide-wrapper {
    border-radius: 30px;
  }
}
.pagination {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.pagination__item {
  position: relative;
  z-index: 0;
  width: 57px;
  height: 38px;
  padding-top: 11px;
  box-sizing: border-box;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
}
.pagination__item:before {
  top: -1px;
  content: '';
  z-index: -1;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../img/filters/cloud-fill.png);
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 1;
  transition: opacity 0.1s;
}
.pagination__item:hover:before {
  opacity: 0.5;
}
.pagination__item:last-child {
  margin-right: 0;
}
.pagination__item.active:before {
  background-image: url("../img/filters/cloud-transparent.png");
}
.news-item {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  background-color: #2d3039;
  border-radius: 45px;
  color: #ffffff;
  height: 100%;
  overflow: hidden;
}
.news-item__title {
  display: block;
  font-size: 30px;
  font-family: KievitProBold;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  margin-bottom: 35px;
  text-decoration: none;
  color: #fff;
}
.news-item__title:hover {
  text-decoration: underline !important;
  color: #fff;
  cursor: pointer;
}
.news-item__content-container {
  padding: 60px 65px;
  width: 50%;
  box-sizing: border-box;
}
.news-item__img-container {
  position: relative;
  width: 50%;
}
.news-item__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.news-item__description a {
  color: #bcd5e9;
  text-decoration: underline;
}
.news-item__description a:hover {
  text-decoration: none;
}
@media screen and (max-width: 1750px) {
  .news-item {
    border-radius: 15px;
  }
  .news-item__content-container {
    padding: 50px 44px;
    width: 60%;
  }
  .news-item__title {
    margin-bottom: 25px;
  }
  .news-item__img-container {
    width: 40%;
  }
}
@media screen and (max-width: 992px) {
  .news-item {
    -ms-flex-direction: column;
        flex-direction: column;
    width: calc(100%/2 - 20px);
    margin: 10px;
  }
  .news-item__content-container {
    width: 100%;
    padding: 32px 24px;
  }
  .news-item__title {
    font-size: 22px;
    margin-bottom: 22px;
  }
  .news-item__img-container {
    width: 100%;
    height: 250px;
  }
}
@media screen and (max-width: 800px) {
  .news-item {
    width: 100%;
  }
}
.news-page__list-item {
  margin-bottom: 50px;
}
.news-page__list {
  max-width: 1560px;
  margin: 0 auto;
}
.news-page__content-container {
  padding-top: 50px;
  padding-bottom: 120px;
}
.news-page__news-card-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 100px 0;
  z-index: -100;
  overflow: auto;
  transition-delay: 0.25s;
}
.news-page__news-card-container.active {
  display: block;
  z-index: 20;
  transition-delay: 0s;
}
@media screen and (max-width: 1750px) {
  .news-page__list {
    max-width: 1350px;
  }
}
@media screen and (max-width: 1460px) {
  .news-page__list {
    max-width: 1200px;
  }
}
@media screen and (max-width: 1360px) {
  .news-page__list {
    max-width: none;
    padding: 0 30px;
  }
}
@media screen and (max-width: 992px) {
  .news-page__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -10px;
    padding: 0 15px;
  }
}
.news-card {
  opacity: 0;
  width: 85%;
  z-index: 100;
  position: relative;
  background-color: #bcd5e9;
  border-radius: 40px;
  overflow: hidden;
  color: #2d3039;
  transition: opacity 0.2s;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
}
.active .news-card {
  opacity: 1;
  display: block;
}
.news-card__img-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.news-card__img-container:before {
  content: '';
  display: block;
  padding-bottom: 42%;
}
.news-card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
}
.news-card__content-container {
  position: relative;
  padding: 50px 145px 100px 115px;
}
.news-card__title {
  font-size: 36px;
  font-weight: bold;
  font-family: KievitProBold;
  text-align: center;
  margin-bottom: 60px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.news-card__text {
  font-family: HelveticaLight;
  font-size: 16px;
  letter-spacing: 1.4px;
}
.news-card__close-btn {
  background-size: contain;
  position: absolute;
  top: 43px;
  right: 40px;
  width: 90px;
  height: 60px;
  background-image: url("../img/filters/cloud-transparent.png");
}
.news-card__close-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
.news-card__close-btn span {
  position: absolute;
  top: 50%;
  left: 33%;
  transition: 0.1;
}
.news-card__close-btn span:before,
.news-card__close-btn span:after {
  position: absolute;
  z-index: 11;
  content: '';
  width: 33px;
  height: 6px;
  background-color: #ffffff;
}
.news-card__close-btn span:before {
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}
.news-card__close-btn span:after {
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}
@media screen and (max-width: 1500px) {
  .news-card__content-container {
    padding: 50px 145px 100px 115px;
  }
  .news-card__title {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1300px) {
  .news-card__content-container {
    padding: 50px 145px 100px 50px;
  }
}
@media screen and (max-width: 1300px) {
  .news-card__content-container {
    padding: 50px 50px 100px;
  }
}
@media screen and (max-width: 992px) {
  .news-card {
    width: calc(100% - 20px);
  }
  .news-card__close-btn {
    background: none;
  }
  .news-card__title {
    text-align: left;
    padding-right: 100px;
  }
}
@media screen and (max-width: 750px) {
  .news-card__title {
    font-size: 30px;
    padding-right: 50px;
  }
  .news-card__close-btn {
    top: 39px;
    right: 0px;
  }
  .news-card__content-container {
    padding: 50px 30px 100px;
  }
}
.flat-section:nth-child(1) .flat-section__stub {
  fill: #009640;
}
.flat-section:nth-child(1):hover .flat-section__stub {
  fill: #009640;
}
.flat-section:nth-child(2) .flat-section__stub {
  fill: #3e87ff;
}
.flat-section:nth-child(3) .flat-section__stub {
  fill: #009640;
}
.flat-section:nth-child(4) .flat-section__stub {
  fill: #e50051;
}
.flat-section:nth-child(5) .flat-section__stub {
  fill: #009640;
}
.flat-section:nth-child(6) .flat-section__stub {
  fill: #966a39;
}
.flat-section:hover {
  cursor: pointer;
}
.flat-section:hover .flat-section__stub {
  opacity: 0.5;
}
.flat-section__stub {
  opacity: 0.3;
  fill: #b4b4b4;
  transition: opacity 0.1s;
}
.sold .flat-section__stub,
.reserved .flat-section__stub {
  opacity: 0.8;
}
.flat-section:hover .flat-section__number {
  opacity: 1;
}
.sold .flat-section:hover .flat-section__number,
.reserved .flat-section:hover .flat-section__number {
  opacity: 0;
}
.flat-section__number {
  opacity: 0;
}
.flat-section__number circle {
  fill: #bcd5e9;
}
.flat-section__number path {
  fill: #2d3039;
}
.reserved .flat-section__reserved-stub,
.reserved .flat-section__reserved-title {
  opacity: 1;
}
.flat-section__reserved-sold-title {
  opacity: 0;
}
.sold .flat-section__reserved-sold-title {
  opacity: 1;
}
.flat-section__reserved-title {
  opacity: 0;
  fill: #2d3039;
}
.flat-section__reserved-sold-title {
  opacity: 0;
}
.flat-section__reserved-sold {
  opacity: 0;
  fill: #2d3039;
}
.select-section__hovered {
  opacity: 0;
  transition: opacity 0.1s;
}
.select-section__hovered:hover {
  cursor: pointer;
  opacity: 1;
}
.select-section .cls-1 {
  fill: none;
}
.select-section .cls-2 {
  fill: #2d3039;
}
.select-section .cls-3 {
  fill: #464951;
}
.select-section .cls-4 {
  -webkit-clip-path: url(#clip-path);
          clip-path: url(#clip-path);
}
.select-section .cls-5 {
  fill: #bbd4e8;
  stroke: #bcd5e9;
  stroke-miterlimit: 10;
  stroke-width: 2px;
  opacity: 0.5;
}
.select-section .cls-6 {
  fill: #bcd5e9;
}
.select-section .cls-7 {
  -webkit-clip-path: url(#clip-path-2);
          clip-path: url(#clip-path-2);
}
.select-section .cls-8 {
  -webkit-clip-path: url(#clip-path-3);
          clip-path: url(#clip-path-3);
}
.select-section .cls-9 {
  -webkit-clip-path: url(#clip-path-4);
          clip-path: url(#clip-path-4);
}
.select-section-page {
  position: relative;
  background-color: #bcd5e9;
  height: 100vh;
  background-image: url("../img/select-floor/background-building.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
}
.select-section-page__background-cloud {
  position: absolute;
  opacity: 0.15;
  z-index: 0;
}
.select-section-page__background-cloud:nth-child(1) {
  right: 30%;
  top: 14%;
  width: 12%;
}
.select-section-page__background-cloud:nth-child(2) {
  right: 6%;
  top: 34%;
  width: 20%;
}
.select-section-page__background-cloud:nth-child(3) {
  right: 28%;
  top: 61%;
  width: 19%;
}
.select-section-page__background-cloud:nth-child(4) {
  right: 30%;
  top: 14%;
  width: 12%;
}
@media screen and (max-width: 1300px) {
  .select-section-page__background-cloud:nth-child(1) {
    right: 25%;
  }
  .select-section-page__background-cloud:nth-child(2) {
    width: 18%;
  }
  .select-section-page__background-cloud:nth-child(3) {
    right: 20%;
  }
}
.select-section-page__title {
  position: relative;
  top: 13%;
  text-align: center;
  font-size: 82px;
  font-family: KievitProBold;
  font-weight: bold;
  letter-spacing: 1.7px;
  color: #2d3039;
  text-transform: uppercase;
}
.select-section-page__select-block {
  width: 65%;
  margin: 6% auto;
  height: 70%;
}
.select-section-page__select-block svg {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1500px) {
  .select-section-page__title {
    font-size: 62px;
  }
}
@media screen and (max-width: 1250px) {
  .select-section-page__title {
    font-size: 42px;
    top: 16%;
  }
  .select-section-page__select-block {
    margin-top: 7%;
  }
}
.select-floor-block__select-floors {
  position: absolute;
  bottom: 1.8%;
  right: 13.9%;
  max-width: 54%;
  overflow: visible;
  z-index: 122;
}
.select-floor-block__select-floors .floors-count {
  opacity: 0;
  transition: opacity 0.2s;
  font-size: 54px;
  font-family: KievitProBold;
  color: #2d3039;
}
.select-floor-block__select-floors polygon {
  opacity: 0.1;
  transition: opacity 0.2s;
}
.select-floor-block__select-floors polygon.selected {
  opacity: 0.3;
}
.select-floor-block__select-floors polygon.selected ~ .floors-count {
  display: block;
  opacity: 1;
}
.select-floor-block__select-floors polygon:hover {
  cursor: pointer;
  opacity: 0.5;
}
.select-floor-block__select-floors polygon:hover ~ .floors-count {
  display: block;
  opacity: 1;
}
.select-floor-block__select-floors polygon:after {
  counter-increment: section;
  content: counter(section);
  display: block;
}
.select-floor-block__floor-container {
  position: absolute;
  bottom: 31.6%;
  right: 13.8%;
  width: 316px;
  height: 52px;
  transition: opacity 0.25s;
  display: none;
}
.select-floor-block__floor-container:after {
  content: '1';
  position: absolute;
  right: -20px;
  top: 0;
  opacity: 1;
}
.select-floor-block__floor-container:nth-child(1) {
  bottom: 15px;
  right: 107px;
  width: 292px;
  height: 48px;
  display: block;
}
.select-floor-block__floor-container:nth-child(2) {
  bottom: 43px;
  right: 82px;
  height: 44px;
  display: block;
}
.select-floor-block__floor-container:nth-child(3) {
  bottom: 65px;
  right: 82px;
}
.select-floor-block__floor-container:nth-child(4) {
  bottom: 91px;
  right: 82px;
}
.select-floor-block__floor-container:nth-child(5) {
  bottom: 118px;
  right: 82px;
}
.select-floor-block__floor-container:nth-child(6) {
  right: 82px;
  bottom: 154px;
  height: 32px;
}
.select-floor-block__floor-container:nth-child(7) {
  bottom: 171px;
  right: 82px;
}
.select-floor-block__floor-container:nth-child(8) {
  bottom: 198px;
  right: 82px;
}
.select-floor-block__floor-container:nth-child(9) {
  bottom: 223px;
  right: 82px;
}
.select-floor-block__floor-container:nth-child(10) {
  bottom: 249px;
  right: 82px;
}
.select-floor-block__floor-container:nth-child(11) {
  bottom: 275px;
  right: 82px;
}
.select-floor-block__floor-container:nth-child(12) {
  width: 318px;
  bottom: 300px;
  right: 81px;
  height: 52px;
}
.select-floor-block__floor-container:nth-child(13) {
  width: 318px;
  bottom: 324px;
  right: 81px;
  height: 57px;
}
.select-floor-block__floor-container:nth-child(14) {
  width: 318px;
  bottom: 345px;
  right: 81px;
  height: 72px;
}
.select-floor-block__floor {
  width: 100%;
  height: 100%;
}
.select-floor-block__floor g {
  opacity: 0.1;
}
.select-floor-block__floor g:hover {
  opacity: 0.3;
  cursor: pointer;
}
.select-floor-block__house-img-container {
  position: absolute;
  width: 55%;
  height: 100%;
  top: 0;
}
.select-apartment .select-floor-block__house-img-container {
  width: 102%;
  left: -23%;
}
.select-floor-block__house-img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  -o-object-position: 100% 100%;
     object-position: 100% 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer-menu__item {
  display: block;
  border-bottom: 20px;
  font-family: GilroyLight;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 1.1px;
}
.footer-menu__item:hover {
  color: #ffffff;
}
@media screen and (max-width: 575px) {
  .footer-menu__item {
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 3px 0;
    transition: background-color 0.1s;
  }
  .footer-menu__item:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer-menu__item:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.02);
  }
}
.mobile-menu {
  padding-top: 1px;
  position: fixed;
  height: 0px;
  width: 100%;
  top: 0;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out, height 0.5s ease-in-out;
  transition-delay: 0.2s;
}
.mobile-menu:before {
  position: relative;
  display: block;
  top: 0;
  content: '';
  padding-bottom: 30px;
  width: 100%;
}
.mobile-menu__content-container {
  max-height: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 80px;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transition-delay: 0s;
  opacity: 0.3;
}
.mobile-menu.active {
  background-color: #2d3039;
  transition-delay: 0s;
  height: 100vh;
  overflow: auto;
}
.mobile-menu.active:before {
  content: '';
  padding-bottom: 100vh;
  width: 100%;
}
.active .mobile-menu__content-container {
  display: block;
  max-height: 200%;
  transition-delay: 0.3s;
  opacity: 1;
}
.mobile-menu__burger {
  position: absolute;
  z-index: 11;
  top: 30px;
  left: 30px;
  height: 30px;
  /* Burger Icon */
}
.mobile-menu__burger input {
  display: none;
}
.mobile-menu__burger label {
  position: relative;
  width: 30px;
  height: 30px;
  display: block;
  cursor: pointer;
  background: transparent;
}
.mobile-menu__burger label:before {
  animation: animationOneReverse 0.3s ease forwards;
}
.mobile-menu__burger label:after {
  animation: animationTwoReverse 1s ease forwards;
  transition: background 0.3s ease-in;
}
.dark .mobile-menu__burger label:after {
  background: #2d3039;
  transition: background 0.3s ease-out;
}
.mobile-menu__burger label:before,
.mobile-menu__burger input:checked + label:before {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  width: 30px;
  height: 2px;
  border-radius: 2px;
  background: #fafafa;
}
.mobile-menu__burger input:not(:checked) + label:before {
  transition: background 0.3s ease-in;
}
.dark .mobile-menu__burger input:not(:checked) + label:before {
  background: #2d3039;
  transition: background 0.3s ease-out;
}
@keyframes animationOneReverse {
  0% {
    transform: rotate(315deg);
  }
  25% {
    transform: rotate(360deg);
  }
  50%,
  100% {
    transform: rotate(0deg);
  }
}
.mobile-menu__burger input:checked + label:before {
  animation: animationOne 1s ease forwards;
}
@keyframes animationOne {
  0%,
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(315deg);
  }
}
.mobile-menu__burger label:after,
.mobile-menu__burger input:checked + label:after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  width: 30px;
  height: 2px;
  border-radius: 2px;
  background: #fafafa;
}
@keyframes animationTwoReverse {
  0% {
    transform: rotate(405deg);
  }
  25% {
    transform: rotate(450deg);
  }
  50%,
  100% {
    transform: rotate(0deg);
  }
}
.mobile-menu__burger input:checked + label:after {
  animation: animationTwo 1s ease forwards;
}
@keyframes animationTwo {
  0%,
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(450deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
.mobile-menu__burger label .burger:before {
  content: '';
  position: absolute;
  top: 6px;
  width: 30px;
  height: 2px;
  border-radius: 2px;
  background: #fafafa;
  animation: animationBurgerTopReverse 1s ease forwards;
  transition: background 1s ease-in;
}
.dark .mobile-menu__burger label .burger:before {
  background: #2d3039;
  transition: background 1s ease-out;
}
@keyframes animationBurgerTopReverse {
  0%,
  50% {
    transform: translateY(12px);
    opacity: 0;
  }
  51% {
    transform: translateY(12px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.mobile-menu__burger input:checked + label .burger:before {
  animation: animationBurgerTop 1s ease forwards;
}
@keyframes animationBurgerTop {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(8px);
    opacity: 1;
  }
  51%,
  100% {
    transform: translateY(8px);
    opacity: 0;
  }
}
.mobile-menu__burger label .burger:after {
  content: '';
  position: absolute;
  bottom: 6px;
  width: 30px;
  height: 2px;
  border-radius: 2px;
  background: #fafafa;
  animation: animationBurgerBottomReverse 1s ease forwards;
  transition: background 1s ease-in;
}
.dark .mobile-menu__burger label .burger:after {
  background: #2d3039;
  transition: background 1s ease-out;
}
@keyframes animationBurgerBottomReverse {
  0%,
  50% {
    transform: translateY(-8px);
    opacity: 0;
  }
  51% {
    transform: translateY(-8px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.mobile-menu__burger input:checked + label .burger:after {
  animation: animationBurgerBottom 1s ease forwards;
}
@keyframes animationBurgerBottom {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(-8px);
    opacity: 1;
  }
  51%,
  100% {
    transform: translateY(-8px);
    opacity: 0;
  }
}
.mobile-menu__question-btn {
  position: absolute;
  margin-left: 90px;
  top: 28px;
  right: 30px;
  border: 1px solid #FFffff;
  background: transparent;
  padding: 10px 41px;
  color: #FFffff;
  letter-spacing: 0.7px;
  font-size: 12px;
  text-transform: uppercase;
  transition: all 1s ease-in;
}
.mobile-menu__question-btn:hover {
  cursor: pointer;
}
.mobile-menu__list {
  padding-bottom: 15px;
}
.mobile-menu__item {
  padding: 20px 30px;
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  font-family: HelveticaLight;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
}
.mobile-menu__item:hover {
  background-color: rgba(255, 255, 255, 0.02);
  color: #ffffff;
  text-decoration: none;
}
.mobile-menu__phone-container {
  background-color: #bcd5e9;
  padding: 20px;
}
.mobile-menu__phone,
.mobile-menu__description {
  color: #2d3039;
  font-family: HelveticaLight;
  text-align: center;
}
.mobile-menu__phone {
  margin-bottom: 10px;
  font-size: 24px;
  display: block;
  text-decoration: none;
}
.mobile-menu__phone:hover {
  text-decoration: underline;
  color: #2d3039;
}
.mobile-menu__description {
  color: #2d3039;
  font-size: 16px;
  letter-spacing: 0.8px;
}
.mobile-menu__footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 40px 20px 70px;
  -ms-flex-align: center;
      align-items: center;
}
.mobile-menu__logo-container {
  position: relative;
  width: 25%;
}
.mobile-menu__logo-container:before {
  content: '';
  position: relative;
  display: block;
  top: 0;
  padding-bottom: 35%;
}
.mobile-menu__logo {
  position: absolute;
  top: 0;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.mobile-menu__social {
  -ms-flex-align: start;
      align-items: flex-start;
}
.mobile-menu__expil-logo {
  width: 25%;
}
@media screen and (max-width: 800px) {
  .mobile-menu__footer {
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 40px 20px 130px;
  }
  .mobile-menu__social,
  .mobile-menu__logo,
  .mobile-menu__logo-container {
    margin-bottom: 30px;
  }
  .mobile-menu__social {
    -ms-flex-order: 1;
        order: 1;
    margin-bottom: 60px;
  }
  .mobile-menu__logo-container {
    -ms-flex-order: 2;
        order: 2;
    width: 50%;
  }
  .mobile-menu__logo-container:before {
    padding-bottom: 50%;
  }
  .mobile-menu__expil-logo {
    -ms-flex-order: 3;
        order: 3;
    width: 58%;
  }
}
.main-page__footer-container .fp-tableCell {
  overflow: auto;
  position: relative;
}
body {
  padding: 0;
  margin: 0;
  font-family: HelveticaLight;
}
@font-face {
  font-family: HelveticaLight;
  /* Имя шрифта */
  src: url(../fonts/HelveticaNeueCyr-Light_2.otf);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: GaramondItalic;
  /* Имя шрифта */
  src: url(../fonts/CormorantGaramond-Italic_0.otf);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: KievitProBold;
  /* Имя шрифта */
  src: url(../fonts/KIEVITPRO-BOLD.ttf);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: KievitProLight;
  /* Имя шрифта */
  src: url(../fonts/KIEVITPRO-LIGHT.ttf);
  /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: GilroyLight;
  /* Имя шрифта */
  src: url(../fonts/Gilroy-Light.otf);
  /* Путь к файлу со шрифтом */
}
.popup-stub {
  opacity: 0;
  background: #000000;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  transition: opacity 0.2s;
}
.active .popup-stub {
  opacity: 0.5;
  display: block;
}
