{% form_theme form 'elements/form_row.html.twig' %}

{{ form_start(form) }}
    {{ form_row(form.title, {'label': 'Заголовок'}) }}
    {{ form_row(form.textArticle, {'label': 'Содержание статьи'}) }}
    {{ form_row(form.imageFile, {'label': 'Изображение'}) }}
    <button class="btn btn-outline-success">{{ button_label | default('Сохранить') }}</button>
{{ form_end(form) }}
