{% extends 'layouts/main.html.twig' %}

{% block page_title %}Добавление статьи{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-outline-info" href="{{ path('article_index') }}">Вернуться к списку статей</a>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            {{ include('article/_form.html.twig', {'button_label': 'Сохранить'}) }}
        </div>
    </div>
{% endblock %}

{% block styles %}
    {{ parent() }}
    <!-- Include external CSS. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

    <!-- Include Editor style. -->
    <link href="{{ asset('assets/css/frola/froala_editor.pkgd.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/css/frola/froala_style.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
    <!-- Include JS file. -->
    <script type='text/javascript' src='{{ asset('assets/js/frola/froala_editor.min.js') }}'></script>

    <!-- Initialize the editor. -->
    <script>
        jQuery(document).ready(() => {
            jQuery(() => {
                jQuery('#article_textArticle').froalaEditor()
            });
        })
    </script>
{% endblock %}