{% extends 'layouts/main.html.twig' %}

{% block page_title %}Статьи{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-outline-success" href="{{ path('article_new') }}">Добавить статью</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Заголовок</th>
                            <th>Дата публикаци</th>
                            <th>Действия</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for article in pagination %}
                            <tr>
                                <td>{{ article.id }}</td>
                                <td>{{ article.title }}</td>
                                <td>{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    <a class="btn-sm btn-info" href="{{ path('article_show', {'id': article.id}) }}">Подробнее</a>
                                    <a class="btn-sm btn-warning color-white" href="{{ path('article_edit', {'id': article.id}) }}"><i class="fa fa-pencil"></i></a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="11">Статьи отсутствуют</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="pagination-wrapper">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
