{% extends 'layouts/main.html.twig' %}

{% block page_title %}Статьи{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-outline-info" href="{{ path('article_index') }}">Вернуться к статьям</a>
                    <a class="btn btn-outline-info" href="{{ path('article_edit', {'id': article.id}) }}">Изменить</a>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Textarticle</th>
                <td>{{ article.textarticle }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ article.url }}</td>
            </tr>
        </tbody>
    </table>



    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
