<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Жилой комплекc Облака</title>

    <link rel="stylesheet" href="{{ asset('assets/landing/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/landing/css/main.css') }}">
    <script src="{{ asset('assets/landing/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('assets/landing/js/script.js') }}"></script>
</head>
<body>

{% include 'elements/landing/header.html.twig' %}

<div class="in-develop-page">
    <div class="in-develop-page__title">
        Страница<br>В разработке
    </div>
    <div class="in-develop-page__crane-img-container">
        <img src="{{ asset('assets/landing/img/crane.png') }}" class="in-develop-page__crane-img">
    </div>
    <img src="{{ asset('assets/landing/img/gears.png') }}" class="in-develop-page__gears"/>
    <div class="footer">
        <div class="container footer__menu-container">
            <div class="row">
                <div class="col-lg-3 col-md-5 footer__menu-item ">
                    <div class="footer-menu">
                        <a href="#" class="footer-menu__item">Главная</a>
                        <a href="#" class="footer-menu__item">О компании</a>
                        <a href="#" class="footer-menu__item">Проекты</a>
                        <a href="#" class="footer-menu__item">Контакты</a>
                        <a href="#" class="footer-menu__item">Новости</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 offset-md-1  offset-xl-2 offset-lg-1 offset-lg-2 footer__menu-item">
                    <div class="footer-menu">
                        <a href="#" class="footer-menu__item">Ипотека</a>
                        <a href="#" class="footer-menu__item">Риэлторам</a>
                        <a href="#" class="footer-menu__item">Ход строительства</a>
                        <a href="#" class="footer-menu__item">Стратегия компании</a>
                        <a href="#" class="footer-menu__item">Официальные сведения</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5 offset-lg-1 footer__menu-item">
                    <div class="footer-menu">
                        <a href="#" class="footer-menu__item">Тендеры</a>
                        <a href="#" class="footer-menu__item">Работа в нашем проекте</a>
                        <a href="#" class="footer-menu__item">Для прессы</a>
                        <a href="#" class="footer-menu__item">Контакты</a>
                        <a href="#" class="footer-menu__item">Почта</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container footer__content-container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 footer__logo"></div>
                <div class="col-lg-2 col-md-12 offset-xl-2 offset-lg-1 social-links footer__social-links">
                    <a class="social-links__item" href="#"><img src="{{ asset('assets/landing/img/social-icons/facebook.png') }}"></a>
                    <a class="social-links__item" href="#"><img src="{{ asset('assets/landing/img/social-icons/noname.png') }}"></a>
                    <a class="social-links__item" href="#"><img src="{{ asset('assets/landing/img/social-icons/insta.png') }}"></a>
                    <a class="social-links__item" href="#"><img src="{{ asset('assets/landing/img/social-icons/youtube.png') }}"></a>
                    <a class="social-links__item" href="#"><img src="{{ asset('assets/landing/img/social-icons/telegram.png') }}"></a>
                </div>
                <div class="col-lg-4 offset-xl-1 offset-lg-2 col-sm-6 footer__expil-logo"></div>
            </div>
        </div>
    </div>
</div>



</body>
</html>