<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>

    <link rel="stylesheet" href="{{ asset('assets/landing/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/landing/css/main.css') }}">

    <script src="{{ asset('assets/landing/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('assets/landing/js/jquery.touchSwipe.min.js') }}"></script>
    <script src="{{ asset('assets/landing/js/jquery.fullPage.min.js') }}"></script>
    <script src="{{ asset('assets/landing/js/slider.js') }}"></script>
    <script src="{{ asset('assets/landing/js/script.js') }}"></script>


</head>
<body>

<header class="header">

    <div class="mobile-menu header__mobile-menu">
        <div class="mobile-menu__burger">
            <input id="click" name="exit" type="checkbox"/>
            <label for="click">
                <span class="burger"></span>

            </label>
        </div>

        <button class=" mobile-menu__question-btn">
            Задать вопрос
        </button>

        <div class="mobile-menu__content-container">


            <div class="mobile-menu__list">
                <a href="#" class="mobile-menu__item">Главная</a>
                <a href="#" class="mobile-menu__item">О компании</a>
                <a href="#" class="mobile-menu__item">проекты</a>
                <a href="#" class="mobile-menu__item">Выбор квартиры</a>
                <a href="#" class="mobile-menu__item">контакты</a>
                <a href="#" class="mobile-menu__item">Официальные сведения</a>
            </div>

            <div class="mobile-menu__phone-container">
                <a href="tel:+1234567890" class="mobile-menu__phone">+7 777 777 77 77</a>
                <div class="mobile-menu__description">Телефон офиса продаж</div>
            </div>

            <div class="mobile-menu__footer">
                <div class="mobile-menu__logo-container">
                    <img src="img/logo.png" class="mobile-menu__logo"/>
                </div>
                <div class="social-links mobile-menu__social">
                    <a class="social-links__item" href="#"><img src="img/social-icons/facebook.png"></a>
                    <a class="social-links__item" href="#"><img src="img/social-icons/noname.png"></a>
                    <a class="social-links__item" href="#"><img src="img/social-icons/insta.png"></a>
                    <a class="social-links__item" href="#"><img src="img/social-icons/youtube.png"></a>
                    <a class="social-links__item" href="#"><img src="img/social-icons/telegram.png"></a>
                </div>

                <img src="img/expil-logo.png" class="mobile-menu__expil-logo">
            </div>
        </div>
    </div>
    <div class="header-menu header__menu">
        <a href="" class="header-menu__item">Главная</a>
        <a href="" class="header-menu__item">О компании</a>
        <a href="" class="header-menu__item">Проекты</a>
        <a href="" class="header-menu__item">Новости</a>
        <a href="" class="header-menu__item">Контакты</a>
    </div>

    <div class="header__logo"></div>

    <div class="header__links-container">
        <div class="header__visually-impaired"></div>
        <a href="#" class="header__phone">+7 777 777 77 77</a>

        <button class="header__question-btn">
            Задать вопрос
        </button>
    </div>
</header>

<div id="fullpage" class="fp-destroyed">
    <div class="section promo-block">
        <div class="promo-block__content-container">
            <div class="promo-block__title">жилой комплекс</div>
            <div class="promo-block__title promo-block__title--large">Облака</div>

            <div class="promo-block__description">

            </div>
        </div>
    </div>

    <div class="section slider" id="slider">
        <div class="slider__circles-container">
            <div class="slider__btns">
                <div class="slider__prev" id="slider-prev-btn">prev</div>
                <div class="slider__next" id="slider-next-btn">next</div>
            </div>
            <div class="slider__circle">
                <svg class="slider__ui-particle" viewBox="0 0 120 120" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <circle stroke="#bcd5e9" stroke-dasharray="50% 250%" cx="60" stroke-width="7.5" cy="60" r="56.4"/>
                </svg>

                <svg class="slider__ui-particle" viewBox="0 0 120 120" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <circle stroke="#bcd5e9" stroke-dasharray="80% 300%" stroke-dashoffset="25%" cx="60" stroke-width="7.5" cy="60" r="56.4"/>
                </svg>
            </div>
            <div class="slider__circle">
                <svg class="slider__ui-particle" viewBox="0 0 120 120" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <circle stroke="#bcd5e9" stroke-dasharray="50% 250%" stroke-dashoffset="10%" cx="60" cy="60" r="59"/>
                </svg>
            </div>
            <div class="slider__circle">
                <svg class="slider__ui-particle" viewBox="0 0 120 120" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <circle stroke="#bcd5e9" stroke-dasharray="50% 250%" cx="60" stroke-dashoffset="50%" cy="60" r="57"/>
                </svg>

            </div>
            <div class="slider__circle">
                <svg class="slider__ui-particle" viewBox="0 0 120 120" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <circle stroke="#bcd5e9" stroke-dasharray="50% 250%" stroke-dashoffset="100%" cx="60" cy="60" r="55"/>

                </svg>
            </div>
            <div class="slider__circle">
                <svg class="slider__ui-particle" viewBox="0 0 120 120" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <circle stroke="#bcd5e9" stroke-dasharray="50% 250%" stroke-dashoffset="150%" cx="60" cy="60" r="53"/>

                </svg>
            </div>
        </div>

        <div class="slider-item about-slide active-slide">
            <div class="slider-item__content-container">
                <div class="slider-item__title">о компании</div>
                <div class="slider-item__description">
                    <p>
                        {#Специальное предложение на старте продаж верхних этажей. Специальное#}
                        {#предложение на старте продаж верхних этажей Специальное предложение#}
                        {#на старте продаж верхних этажей Специальное предложение на старте#}
                        {#продаж верхних этажей#}
                    </p><p>
                        {#Специальное предложение на старте продаж верхних этажей. Специальное#}
                        {#предложение на старте продаж верхних этажей Специальное предложение#}
                        {#на старте продаж верхних этажей Специальное предложение на старте#}
                        {#продаж верхних этажей#}
                    </p>
                    <button class="slider-item__button">Узнать больше</button>
                </div>
            </div>

            <img src="{{ asset('assets/landing/img/slider/about.jpg') }}" alt="" class="slider-item__background">
        </div>
        <div class="slider-item project-slide">
            <div class="slider-item__content-container">
                <div class="slider-item__title">Проекты</div>
                <div class="slider-item__description">
                    <p>
                        {#Специальное предложение на старте продаж верхних этажей. Специальное#}
                        {#предложение на старте продаж верхних этажей Специальное предложение#}
                        {#на старте продаж верхних этажей Специальное предложение на старте#}
                        {#продаж верхних этажей#}
                    </p><p>
                        {#Специальное предложение на старте продаж верхних этажей. Специальное#}
                        {#предложение на старте продаж верхних этажей Специальное предложение#}
                        {#на старте продаж верхних этажей Специальное предложение на старте#}
                        {#продаж верхних этажей#}
                    </p>
                    <button class="slider-item__button">Узнать больше</button>
                </div>
            </div>

            <img src="{{ asset('assets/landing/img/slider/project.jpg') }}" alt=""
                 class="slider-item__background">
        </div>
        <div class="slider-item choice-slide">
            <div class="slider-item__content-container">
                <div class="slider-item__title">Выбор <br> квартиры</div>
                <div class="slider-item__description"><p>
                        {#Специальное предложение на старте продаж верхних этажей. Специальное#}
                        {#предложение на старте продаж верхних этажей Специальное предложение#}
                        {#на старте продаж верхних этажей Специальное предложение на старте#}
                        {#продаж верхних этажей#}
                    </p><p>
                        {#Специальное предложение на старте продаж верхних этажей. Специальное#}
                        {#предложение на старте продаж верхних этажей Специальное предложение#}
                        {#на старте продаж верхних этажей Специальное предложение на старте#}
                        {#продаж верхних этажей#}
                    </p>
                    <button class="slider-item__button">Узнать больше</button>
                </div>
            </div>

            <img src="{{ asset('assets/landing/img/slider/choice.jpg') }}" alt="" class="slider-item__background">
        </div>
        <div class="slider-item progress-slide">
            <div class="slider-item__content-container">
                <div class="slider-item__title">ход <br> строительства</div>
                <div class="slider-item__description"><p>
                        {#Специальное предложение на старте продаж верхних этажей. Специальное#}
                        {#предложение на старте продаж верхних этажей Специальное предложение#}
                        {#на старте продаж верхних этажей Специальное предложение на старте#}
                        {#продаж верхних этажей#}
                    </p><p>
                        {#Специальное предложение на старте продаж верхних этажей. Специальное#}
                        {#предложение на старте продаж верхних этажей Специальное предложение#}
                        {#на старте продаж верхних этажей Специальное предложение на старте#}
                        {#продаж верхних этажей#}
                    </p>
                    <button class="slider-item__button">Узнать больше</button>
                </div>
            </div>

            <img src="{{ asset('assets/landing/img/slider/progress.jpg') }}" alt="" class="slider-item__background">
        </div>
        <div class="slider-item strategy-slide">
            <div class="slider-item__content-container">
                <div class="slider-item__title">Стратегия <br> компании</div>
                <div class="slider-item__description"><p>
                        {#Специальное предложение на старте продаж верхних этажей. Специальное#}
                        {#предложение на старте продаж верхних этажей Специальное предложение#}
                        {#на старте продаж верхних этажей Специальное предложение на старте#}
                        {#продаж верхних этажей#}
                    </p><p>
                        {#Специальное предложение на старте продаж верхних этажей. Специальное#}
                        {#предложение на старте продаж верхних этажей Специальное предложение#}
                        {#на старте продаж верхних этажей Специальное предложение на старте#}
                        {#продаж верхних этажей#}
                    </p>
                    <button class="slider-item__button">Узнать больше</button>
                </div>
            </div>

            <img src="{{ asset('assets/landing/img/slider/strategy.jpg') }}" alt="" class="slider-item__background">
        </div>

        <div class="slider-item contacts-slide">
            <div class="slider-item__content-container">
                <div class="slider-item__title">Контакты</div>
                <div class="slider-item__description"><p>
                        {#Специальное предложение на старте продаж верхних этажей. Специальное#}
                        {#предложение на старте продаж верхних этажей Специальное предложение#}
                        {#на старте продаж верхних этажей Специальное предложение на старте#}
                        {#продаж верхних этажей#}
                    </p><p>
                        {#Специальное предложение на старте продаж верхних этажей. Специальное#}
                        {#предложение на старте продаж верхних этажей Специальное предложение#}
                        {#на старте продаж верхних этажей Специальное предложение на старте#}
                        {#продаж верхних этажей#}
                    </p>
                    <button class="slider-item__button">Узнать больше</button>
                </div>
            </div>

            <img src="" alt="" class="slider-item__background">
        </div>

        <div class="slider-item credit-slide">
            <div class="slider-item__content-container">
                <div class="slider-item__title">Ипотека</div>
                <div class="slider-item__description"><p>
                        {#Специальное предложение на старте продаж верхних этажей. Специальное#}
                        {#предложение на старте продаж верхних этажей Специальное предложение#}
                        {#на старте продаж верхних этажей Специальное предложение на старте#}
                        {#продаж верхних этажей#}
                    </p><p>
                        {#Специальное предложение на старте продаж верхних этажей. Специальное#}
                        {#предложение на старте продаж верхних этажей Специальное предложение#}
                        {#на старте продаж верхних этажей Специальное предложение на старте#}
                        {#продаж верхних этажей#}
                    </p>
                    <button class="slider-item__button">Узнать больше</button>
                </div>
            </div>

            <img src="{{ asset('assets/landing/img/slider/credit.jpg') }}" alt="" class="slider-item__background">
        </div>

        <div class="slider-item partners-slide">
            <div class="slider-item__content-container">
                <div class="slider-item__title">Партнеры</div>
                <div class="slider-item__description"><p>
                        {#Специальное предложение на старте продаж верхних этажей. Специальное#}
                        {#предложение на старте продаж верхних этажей Специальное предложение#}
                        {#на старте продаж верхних этажей Специальное предложение на старте#}
                        {#продаж верхних этажей#}
                    </p><p>
                        {#Специальное предложение на старте продаж верхних этажей. Специальное#}
                        {#предложение на старте продаж верхних этажей Специальное предложение#}
                        {#на старте продаж верхних этажей Специальное предложение на старте#}
                        {#продаж верхних этажей#}
                    </p>
                    <button class="slider-item__button">Узнать больше</button>
                </div>
            </div>

            <img src="{{ asset('assets/landing/img/slider/partners.jpg') }}" alt="" class="slider-item__background">
        </div>
    </div>

    <div class="section promo-block">
        <div class="promo-block__content-container">
            <div class="promo-block__title">жилой комплекс</div>
            <div class="promo-block__title promo-block__title--large">Облака</div>

            <div class="promo-block__description">
                {#Специальное предложение на старте продаж верхних этажей. Специальное#}
                {#предложение на старте продаж верхних этажей Специальное предложение#}
                {#на старте продаж верхних этажей Специальное предложение на старте#}
                {#продаж верхних этажей#}
            </div>
        </div>
    </div>
</div>


</body>
</html>