.pagination-wrapper {
    width: 100%;
}

.pagination-wrapper .pagination-wrapper__center {
    text-align: center;
}

.pagination-wrapper .pagination-wrapper__left {
    text-align: left;
}

.pagination-wrapper .pagination-wrapper__right {
    text-align: right;
}

.pagination {
    display: inline-block;
}

.pagination span {
    color: black;
    float: left;
    text-decoration: none;
}
.pagination span:hover {
    background-color: #00c68f;
    color: #fff;
}

.pagination a {
    display: block;
    padding: 8px 16px;
    color: inherit;
    text-decoration: none;
}
.pagination a:hover {
    color: #fff;
}

.pagination .first {}

.pagination .previous {}

.pagination .page {}

.pagination .current {
    padding: 8px 16px;
    background-color: #00c68f;
    color: white;
}

.pagination .next {}

.pagination .last {}
