<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Construction progress</title>
    <link rel="stylesheet" href="{{ asset('assets/landing/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/landing/css/nouislider.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/landing/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/landing/css/main.css') }}">
</head>
<body>



<div class="about-page construction-progress">
    {% include 'elements/landing/header.html.twig' %}

    <div class="material-clouds about-page__material-clouds">
        <img src="{{ asset('assets/landing/img/material-cloud_02.png') }}" alt="" class="material-clouds__cloud"/>
        <img src="{{ asset('assets/landing/img/material-cloud_01.png') }}" alt="" class="material-clouds__cloud"/>
        <img src="{{ asset('assets/landing/img/material-cloud_01.png') }}" alt="" class="material-clouds__cloud"/>
        <img src="{{ asset('assets/landing/img/material-cloud_01.png') }}" alt="" class="material-clouds__cloud"/>
        <img src="{{ asset('assets/landing/img/material-cloud_01.png') }}" alt="" class="material-clouds__cloud"/>
    </div>

    <div class="promo-block about-page__promo-block">
        <div class="promo-block__content-container">
            <div class="promo-block__title promo-block__title--large">ход<br>строительства</div>

            <div class="promo-block__description">
                {#Специальное предложение на старте продаж верхних этажей. Специальное#}
                {#предложение на старте продаж верхних этажей Специальное предложение#}
                {#на старте продаж верхних этажей Специальное предложение на старте#}
                {#продаж верхних этажей#}
            </div>
        </div>
    </div>


    <div class="about-page__content-container">

        <div class="content-block about-page__content-block">

            <div class="owl-carousel content-slider content-block__img-container content-block__img-container--slider">
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/december-2018-1.jpg') }}" class="content-block__img">
                </div>
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/december-2018-2.jpg') }}" class="content-block__img">
                </div>
            </div>


            <div class="content-block__text-container">
                <div class="content-block__title">
                    Декабрь 2018
                </div>

                <div class="content-block__text">
                    Строительная площадка перед началом строительства
                </div>
            </div>
        </div>

        <div class="content-block about-page__content-block">

            <div class="owl-carousel content-slider content-block__img-container content-block__img-container--slider">
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/january_2019_1.jpg') }}" class="content-block__img">
                </div>
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/january_2019_2.jpg') }}" class="content-block__img">
                </div>
            </div>


            <div class="content-block__text-container">
                <div class="content-block__title">
                    Январь 2019
                </div>
            </div>
        </div>

        <div class="content-block about-page__content-block">
            <div class="owl-carousel content-slider content-block__img-container content-block__img-container--slider">
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/february-2019-1.jpg') }}" class="content-block__img">
                </div>
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/february-2019-2.jpg') }}" class="content-block__img">
                </div>
            </div>


            <div class="content-block__text-container">
                <div class="content-block__title">
                    Февраль 2019
                </div>
            </div>
        </div>

        <div class="content-block about-page__content-block">
            <div class="owl-carousel content-slider content-block__img-container content-block__img-container--slider">
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/march_2019-1.jpg') }}" class="content-block__img">
                </div>
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/march_2019-2.jpg') }}" class="content-block__img">
                </div>
            </div>

            <div class="content-block__text-container">
                <div class="content-block__title">
                    Март 2019
                </div>
            </div>
        </div>

        <div class="content-block about-page__content-block">
            <div class="owl-carousel content-slider content-block__img-container content-block__img-container--slider">
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/april_2019-1.jpg') }}" class="content-block__img">
                </div>
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/april_2019-2.jpg') }}" class="content-block__img">
                </div>
            </div>

            <div class="content-block__text-container">
                <div class="content-block__title">
                    Апрель 2019
                </div>
            </div>
        </div>

        <div class="content-block about-page__content-block">
            <div class="owl-carousel content-slider content-block__img-container content-block__img-container--slider">
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/may_2019-1.jpeg') }}" class="content-block__img">
                </div>
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/may_2019-2.jpeg') }}" class="content-block__img">
                </div>
            </div>

            <div class="content-block__text-container">
                <div class="content-block__title">
                    Май 2019
                </div>
            </div>
        </div>

        <div class="content-block about-page__content-block">
            <div class="owl-carousel content-slider content-block__img-container content-block__img-container--slider">
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/June_2019-1.jpg') }}" class="content-block__img">
                </div>
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/June_2019-2.jpg') }}" class="content-block__img">
                </div>
            </div>

            <div class="content-block__text-container">
                <div class="content-block__title">
                    Июнь 2019
                </div>
            </div>
        </div>

        <div class="content-block about-page__content-block">
            <div class="owl-carousel content-slider content-block__img-container content-block__img-container--slider">
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/july_2019-1.jpg') }}" class="content-block__img">
                </div>
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/july_2019-2.jpg') }}" class="content-block__img">
                </div>
            </div>

            <div class="content-block__text-container">
                <div class="content-block__title">
                    Июль 2019
                </div>
            </div>
        </div>

        <div class="content-block about-page__content-block">
            <div class="owl-carousel content-slider content-block__img-container content-block__img-container--slider">
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/august_2019-1.jpg') }}" class="content-block__img">
                </div>
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/august_2019-2.jpg') }}" class="content-block__img">
                </div>
            </div>

            <div class="content-block__text-container">
                <div class="content-block__title">
                    Август 2019
                </div>
            </div>
        </div>

        <div class="content-block about-page__content-block">
            <div class="owl-carousel content-slider content-block__img-container content-block__img-container--slider">
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/september_2019_1.jpg') }}" class="content-block__img">
                </div>
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/september_2019_2.jpg') }}" class="content-block__img">
                </div>
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/september_2019_3.jpg') }}" class="content-block__img">
                </div>
            </div>

            <div class="content-block__text-container">
                <div class="content-block__title">
                    Сентябрь 2019
                </div>
            </div>
        </div>

        <div class="content-block about-page__content-block">
            <div class="owl-carousel content-slider content-block__img-container content-block__img-container--slider">
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/october-2019-1.jpg') }}" class="content-block__img">
                </div>
                <div class="item content-block__slider-item">
                    <img src="{{ asset('images/construction-progress/october-2019-2.jpg') }}" class="content-block__img">
                </div>
            </div>

            <div class="content-block__text-container">
                <div class="content-block__title">
                    Октябрь 2019
                </div>
            </div>
        </div>

        <div class="pagination about-page__pagination">
            <div class="pagination__item active">1</div>
            <div class="pagination__item">2</div>
            <div class="pagination__item">3</div>
            <div class="pagination__item">4</div>
            <div class="pagination__item">5</div>
        </div>

    </div>

    {% include 'elements/landing/footer.html.twig' %}
</div>

<script src="{{ asset('assets/landing/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('assets/landing/js/owl.carousel.min.js') }}"></script>
<script src="{{ asset('assets/landing/js/clouds.js') }}"></script>
<script src="{{ asset('assets/landing/js/script.js') }}"></script>

</body>
</html>
