<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ asset('assets/landing/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/landing/css/main.css') }}">
</head>
<body>

<div class="documentation">
    {% include 'elements/landing/headerDark.html.twig' %}

    <div class="documentation__content-container">
        <div class="documentation__title">
            Документация
        </div>

        <div class="documentation__description">
        </div>

        <div class="documentation__list">
            {% for document in pagination %}
                <div class="documentation-item">
                    <div class="documentation-item__name">{{ document.title }}</div>

                    <div class="documentation-item__date-container">
                        <div class="documentation-item__date-title">
                            Дата размещения
                        </div>
                        <div class="documentation-item__date">
                            {{ document.createdAt | date('Y-m-d') }}
                        </div>
                    </div>

                    <a href="{{ vich_uploader_asset(document, 'documentFile') }}" class="documentation-item__download-link" download>Скачать</a>
                </div>
            {% endfor %}

        </div>

        {{ knp_pagination_render(pagination, 'elements/landing/pagination.html.twig') }}
    </div>
    <img src="{{ asset('assets/landing/img/bg-books.png') }}" class="documentation__bg-img">
</div>

{% include 'elements/landing/footer.html.twig' %}

<script src="{{ asset('assets/landing/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('assets/landing/js/script.js') }}"></script>

</body>
</html>