<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>

    <link rel="stylesheet" href="{{ asset('assets/landing/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/landing/css/main.css') }}">

    <script src="{{ asset('assets/landing/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('assets/landing/js/jquery.touchSwipe.min.js') }}"></script>
    <script src="{{ asset('assets/landing/js/jquery.fullPage.min.js') }}"></script>
    <script src="{{ asset('assets/landing/js/slider.js') }}"></script>
    <script src="{{ asset('assets/landing/js/script.js') }}"></script>
</head>
<body>

{% include 'elements/landing/header.html.twig' %}

<div id="fullpage" class="fp-destroyed">
    <div class="section promo-block">
        <div class="promo-block__content-container">
            <div class="promo-block__title">жилой комплекс</div>
            <div class="promo-block__title promo-block__title--large">Облака</div>

            <div class="promo-block__description">
            </div>
        </div>
    </div>


    <div class="section slider square" id="slider">
        <div class="slider__circles-container">
            <div class="slider__circle">
                <svg class="slider__ui-particle" data-scale="1.5" viewBox="0 0 120 120" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <circle stroke="#bcd5e9" stroke-dasharray="50% 250%" cx="60" stroke-width="7.5" cy="60" r="56"/>
                </svg>

                <svg class="slider__ui-particle" data-scale="1.5" viewBox="0 0 120 120" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <circle stroke="#bcd5e9" stroke-dasharray="80% 300%" stroke-dashoffset="25%" cx="60"
                            stroke-width="7.5" cy="60" r="56.4"/>
                </svg>
            </div>

            <div class="slider__circle">
                <svg class="slider__ui-particle" data-scale="1.5" viewBox="0 0 120 120" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <circle stroke="#bcd5e9" stroke-dasharray="50% 250%" stroke-dashoffset="10%" cx="60" cy="60"
                            r="58"/>
                </svg>
            </div>

            <div class="slider__circle">
                <svg class="slider__ui-particle" viewBox="0 0 120 120" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <circle stroke="#bcd5e9" stroke-dasharray="50% 250%" cx="60" stroke-dashoffset="-70%" cy="60"
                            r="58"/>
                </svg>

                <svg class="slider__ui-particle" viewBox="0 0 120 120" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <circle stroke="#bcd5e9" stroke-dasharray="50% 200%" cx="60" stroke-dashoffset="30%" cy="60"
                            r="58"/>
                </svg>

            </div>

            <div class="slider__circle">
                <svg class="slider__ui-particle" viewBox="0 0 120 120" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <circle stroke="#bcd5e9" stroke-dasharray="50% 200%" cx="60" stroke-dashoffset="90%" cy="60"
                            r="56"/>
                </svg>

                <svg class="slider__ui-particle" viewBox="0 0 120 120" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <circle stroke="#bcd5e9" stroke-dasharray="70% 250%" cx="60" stroke-dashoffset="0%" cy="60"
                            r="56"/>
                </svg>
            </div>

            <div class="slider__circle">
                <svg class="slider__ui-particle" viewBox="0 0 120 120" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <circle stroke="#bcd5e9" stroke-dasharray="50% 250%" stroke-dashoffset="-90%" cx="60" cy="60"
                            r="51"/>
                </svg>
            </div>

            <div class="slider__circle">
                <svg class="slider__ui-particle" viewBox="0 0 120 120" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <circle stroke="#bcd5e9" stroke-dasharray="50% 250%" stroke-dashoffset="150%" cx="60" cy="60"
                            r="53"/>
                </svg>

                <svg class="slider__ui-particle" viewBox="0 0 120 120" version="1.1"
                     xmlns="http://www.w3.org/2000/svg">
                    <circle stroke="#bcd5e9" stroke-dasharray="50% 250%" stroke-dashoffset="-10%" cx="60" cy="60"
                            r="53"/>
                </svg>
            </div>
        </div>

        <div class="slider-item progress-slide active-slide">
            <div class="slider-item__container-wrapper">
                <div class="slider-item__content-container">
                    <div class="slider-item__title">ход <br> строительства</div>
                    <div class="slider-item__description">
                        <p>
                        </p>
                        <button class="slider-item__button" onclick="window.location.href='{{ path('landing_construction_progress') }}'">Узнать больше</button>
                    </div>
                </div>
            </div>
            <img src="{{ asset('assets/landing/img/slider/progress.jpg') }}" alt="" class="slider-item__background">
        </div>

        <div class="slider-item about-slide" style="backgroud:none;">
            <div class="slider-item__container-wrapper">
                <div class="slider-item__content-container">
                    <div class="slider-item__title">о компании</div>
                    <div class="slider-item__description">
                        <p>
                        </p>
                        <button class="slider-item__button" onclick="window.location.href='/about'">Узнать больше</button>
                    </div>
                </div>
            </div>
            <img src="" alt="" class="slider-item__background">
        </div>



    </div>


    <div class="section main-page__footer-container">
        {% include 'elements/landing/footer.html.twig' %}
    </div>

</div>

</body>
</html>
